<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id">
	{$id_editcontrol}
	</control>
	<control 
	field="sipe">
	{$sipe_editcontrol}
	</control>
	<control 
	field="afis">
	{$afis_editcontrol}
	</control>
	<control 
	field="edad">
	{$edad_editcontrol}
	</control>
	<control 
	field="rangoetario">
	{$rangoetario_editcontrol}
	</control>
	<control 
	field="genero">
	{$genero_editcontrol}
	</control>
	<control 
	field="fecha_nac">
	{$fecha_nac_editcontrol}
	</control>
	<control 
	field="edad1">
	{$edad1_editcontrol}
	</control>
	<control 
	field="dui">
	{$dui_editcontrol}
	</control>
	<control 
	field="profesion_oficio">
	{$profesion_oficio_editcontrol}
	</control>
	<control 
	field="estado_civil">
	{$estado_civil_editcontrol}
	</control>
	<control 
	field="ciudadania">
	{$ciudadania_editcontrol}
	</control>
	<control 
	field="mun_nacimiento">
	{$mun_nacimiento_editcontrol}
	</control>
	<control 
	field="depto_nacim">
	{$depto_nacim_editcontrol}
	</control>
	<control 
	field="direccion">
	{$direccion_editcontrol}
	</control>
	<control 
	field="mun_resid">
	{$mun_resid_editcontrol}
	</control>
	<control 
	field="depart_resid">
	{$depart_resid_editcontrol}
	</control>
	<control 
	field="sj_interno">
	{$sj_interno_editcontrol}
	</control>
	<control 
	field="fase">
	{$fase_editcontrol}
	</control>
	<control 
	field="org_delictiva">
	{$org_delictiva_editcontrol}
	</control>
	<control 
	field="tipo_mara">
	{$tipo_mara_editcontrol}
	</control>
	<control 
	field="reincidente">
	{$reincidente_editcontrol}
	</control>
	<control 
	field="deportado">
	{$deportado_editcontrol}
	</control>
	<control 
	field="direccion1">
	{$direccion1_editcontrol}
	</control>
	<control 
	field="sector">
	{$sector_editcontrol}
	</control>
	<control 
	field="celda">
	{$celda_editcontrol}
	</control>
	<control 
	field="fecha_ing__sp">
	{$fecha_ing__sp_editcontrol}
	</control>
	<control 
	field="libro">
	{$libro_editcontrol}
	</control>
	<control 
	field="fecha_ing__cp">
	{$fecha_ing__cp_editcontrol}
	</control>
	<control 
	field="total_delitos">
	{$total_delitos_editcontrol}
	</control>
	<control 
	field="delitos">
	{$delitos_editcontrol}
	</control>
	<control 
	field="delitoanalisis">
	{$delitoanalisis_editcontrol}
	</control>
	<control 
	field="sector_ppd">
	{$sector_ppd_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
