<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="idderespuesta">
	{$idderespuesta_editcontrol}
	</control>
	<control 
	field="codigo">
	{$codigo_editcontrol}
	</control>
	<control 
	field="depto">
	{$depto_editcontrol}
	</control>
	<control 
	field="departamento">
	{$departamento_editcontrol}
	</control>
	<control 
	field="mun">
	{$mun_editcontrol}
	</control>
	<control 
	field="municipio">
	{$municipio_editcontrol}
	</control>
	<control 
	field="nombre_c_e">
	{$nombre_c_e_editcontrol}
	</control>
	<control 
	field="x">
	{$x_editcontrol}
	</control>
	<control 
	field="y">
	{$y_editcontrol}
	</control>
	<control 
	field="sector_ppd">
	{$sector_ppd_editcontrol}
	</control>
	<control 
	field="matricula_inicial">
	{$matricula_inicial_editcontrol}
	</control>
	<control 
	field="matricula_final">
	{$matricula_final_editcontrol}
	</control>
	<control 
	field="maras">
	{$maras_editcontrol}
	</control>
	<control 
	field="robos">
	{$robos_editcontrol}
	</control>
	<control 
	field="hurtos">
	{$hurtos_editcontrol}
	</control>
	<control 
	field="drogas">
	{$drogas_editcontrol}
	</control>
	<control 
	field="violaciones">
	{$violaciones_editcontrol}
	</control>
	<control 
	field="pab">
	{$pab_editcontrol}
	</control>
	<control 
	field="paf">
	{$paf_editcontrol}
	</control>
	<control 
	field="escasos_recursos">
	{$escasos_recursos_editcontrol}
	</control>
	<control 
	field="incorpo_actividades_prod">
	{$incorpo_actividades_prod_editcontrol}
	</control>
	<control 
	field="lejania_ce">
	{$lejania_ce_editcontrol}
	</control>
	<control 
	field="violencia_pandilleril">
	{$violencia_pandilleril_editcontrol}
	</control>
	<control 
	field="embarazo">
	{$embarazo_editcontrol}
	</control>
	<control 
	field="acoso">
	{$acoso_editcontrol}
	</control>
	<control 
	field="violacion_sexual">
	{$violacion_sexual_editcontrol}
	</control>
	<control 
	field="cambio_domicilio">
	{$cambio_domicilio_editcontrol}
	</control>
	<control 
	field="migracion">
	{$migracion_editcontrol}
	</control>
	<control 
	field="bajo_rendimiento">
	{$bajo_rendimiento_editcontrol}
	</control>
	<control 
	field="enfermedad">
	{$enfermedad_editcontrol}
	</control>
	<control 
	field="prostitucion">
	{$prostitucion_editcontrol}
	</control>
	<control 
	field="dep_mun">
	{$dep_mun_editcontrol}
	</control>
	<control 
	field="max_matric2016">
	{$max_matric2016_editcontrol}
	</control>
	<control 
	field="mrf2016">
	{$mrf2016_editcontrol}
	</control>
	<control 
	field="pab_af">
	{$pab_af_editcontrol}
	</control>
	<control 
	field="r_h">
	{$r_h_editcontrol}
	</control>
	<control 
	field="ipce_naive">
	{$ipce_naive_editcontrol}
	</control>
	<control 
	field="ipce_0_1">
	{$ipce_0_1_editcontrol}
	</control>
	<control 
	field="a_o">
	{$a_o_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
