<div class="bs-welcome">

		{BEGIN item1_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item1_icon}{$item1_title}</h2>
		{BEGIN item1_comments}
		<div class="bs-welcome-group-comments">
			{$item1_comments_text}
		</div>
		{END item1_comments}
	
	</div>
	{END item1_menulink}
	
	
		<div class="clearfix">
	</div>
		{BEGIN item2_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item2_icon}{$item2_title}</h2>
		{BEGIN item2_comments}
		<div class="bs-welcome-group-comments">
			{$item2_comments_text}
		</div>
		{END item2_comments}
	
	</div>
	{END item2_menulink}
	
	
		{BEGIN item3_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item3_icon}{$item3_title}</h2>
		{BEGIN item3_comments}
		<div class="bs-welcome-group-comments">
			{$item3_comments_text}
		</div>
		{END item3_comments}
	
	</div>
	{END item3_menulink}
	
	
		{BEGIN item4_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item4_icon}{$item4_title}</h2>
		{BEGIN item4_comments}
		<div class="bs-welcome-group-comments">
			{$item4_comments_text}
		</div>
		{END item4_comments}
	
	</div>
	{END item4_menulink}
	
	
		{BEGIN item5_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item5_icon}{$item5_title}</h2>
		{BEGIN item5_comments}
		<div class="bs-welcome-group-comments">
			{$item5_comments_text}
		</div>
		{END item5_comments}
	
	</div>
	{END item5_menulink}
	
	
</div>


