<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id1">
	{$id1_editcontrol}
	</control>
	<control 
	field="correlativo">
	{$correlativo_editcontrol}
	</control>
	<control 
	field="numero">
	{$numero_editcontrol}
	</control>
	<control 
	field="id">
	{$id_editcontrol}
	</control>
	<control 
	field="codigo_muni">
	{$codigo_muni_editcontrol}
	</control>
	<control 
	field="numero2">
	{$numero2_editcontrol}
	</control>
	<control 
	field="depart_he">
	{$depart_he_editcontrol}
	</control>
	<control 
	field="muni_he">
	{$muni_he_editcontrol}
	</control>
	<control 
	field="dire_hecho">
	{$dire_hecho_editcontrol}
	</control>
	<control 
	field="lugar_esp">
	{$lugar_esp_editcontrol}
	</control>
	<control 
	field="lugaranalisis">
	{$lugaranalisis_editcontrol}
	</control>
	<control 
	field="area">
	{$area_editcontrol}
	</control>
	<control 
	field="forma_cono">
	{$forma_cono_editcontrol}
	</control>
	<control 
	field="delito">
	{$delito_editcontrol}
	</control>
	<control 
	field="delito_espe">
	{$delito_espe_editcontrol}
	</control>
	<control 
	field="dia_hecho">
	{$dia_hecho_editcontrol}
	</control>
	<control 
	field="fecha_hecho">
	{$fecha_hecho_editcontrol}
	</control>
	<control 
	field="mes_hecho">
	{$mes_hecho_editcontrol}
	</control>
	<control 
	field="a_o_hecho">
	{$a_o_hecho_editcontrol}
	</control>
	<control 
	field="edad_victima">
	{$edad_victima_editcontrol}
	</control>
	<control 
	field="ran_eta_vic">
	{$ran_eta_vic_editcontrol}
	</control>
	<control 
	field="s_victima">
	{$s_victima_editcontrol}
	</control>
	<control 
	field="oc_victima">
	{$oc_victima_editcontrol}
	</control>
	<control 
	field="relacion_vi_agre">
	{$relacion_vi_agre_editcontrol}
	</control>
	<control 
	field="edad_agresor">
	{$edad_agresor_editcontrol}
	</control>
	<control 
	field="sexo_agresor">
	{$sexo_agresor_editcontrol}
	</control>
	<control 
	field="ocupa_agresor">
	{$ocupa_agresor_editcontrol}
	</control>
	<control 
	field="movil">
	{$movil_editcontrol}
	</control>
	<control 
	field="tipo_arma">
	{$tipo_arma_editcontrol}
	</control>
	<control 
	field="canton_hecho">
	{$canton_hecho_editcontrol}
	</control>
	<control 
	field="colonia_hecho">
	{$colonia_hecho_editcontrol}
	</control>
	<control 
	field="caserio_hecho">
	{$caserio_hecho_editcontrol}
	</control>
	<control 
	field="calle_hecho">
	{$calle_hecho_editcontrol}
	</control>
	<control 
	field="avenida_hecho">
	{$avenida_hecho_editcontrol}
	</control>
	<control 
	field="casa_hecho">
	{$casa_hecho_editcontrol}
	</control>
	<control 
	field="com_hecho">
	{$com_hecho_editcontrol}
	</control>
	<control 
	field="barrio_hecho">
	{$barrio_hecho_editcontrol}
	</control>
	<control 
	field="comp_hecho">
	{$comp_hecho_editcontrol}
	</control>
	<control 
	field="sector_ppd">
	{$sector_ppd_editcontrol}
	</control>
	<control 
	field="tipo">
	{$tipo_editcontrol}
	</control>
	<control 
	field="nombre">
	{$nombre_editcontrol}
	</control>
	<control 
	field="x">
	{$x_editcontrol}
	</control>
	<control 
	field="y">
	{$y_editcontrol}
	</control>
	<control 
	field="mes_corre">
	{$mes_corre_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
