<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel hechosdelictivos2 search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN id1_fieldblock}		
	<div class="container {$fielddispclass_id1}" data-fieldname="id1">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 id1}
			</div>
			<div class="col-md-2" >
				{$searchtype_id1}
			</div>
			<div class="col-md-4" >
				{$id1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$id1_editcontrol1}
			</div>
		</div>
	</div>
{END id1_fieldblock}
	{BEGIN correlativo_fieldblock}		
	<div class="container {$fielddispclass_correlativo}" data-fieldname="correlativo">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 correlativo}
			</div>
			<div class="col-md-2" >
				{$searchtype_correlativo}
			</div>
			<div class="col-md-4" >
				{$correlativo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$correlativo_editcontrol1}
			</div>
		</div>
	</div>
{END correlativo_fieldblock}
	{BEGIN numero_fieldblock}		
	<div class="container {$fielddispclass_numero}" data-fieldname="numero">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 numero}
			</div>
			<div class="col-md-2" >
				{$searchtype_numero}
			</div>
			<div class="col-md-4" >
				{$numero_editcontrol}
			</div>
			<div class="col-md-4" >
				{$numero_editcontrol1}
			</div>
		</div>
	</div>
{END numero_fieldblock}
	{BEGIN id_fieldblock}		
	<div class="container {$fielddispclass_id}" data-fieldname="id">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 id}
			</div>
			<div class="col-md-2" >
				{$searchtype_id}
			</div>
			<div class="col-md-4" >
				{$id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$id_editcontrol1}
			</div>
		</div>
	</div>
{END id_fieldblock}
	{BEGIN codigo_muni_fieldblock}		
	<div class="container {$fielddispclass_codigo_muni}" data-fieldname="codigo_muni">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 codigo_muni}
			</div>
			<div class="col-md-2" >
				{$searchtype_codigo_muni}
			</div>
			<div class="col-md-4" >
				{$codigo_muni_editcontrol}
			</div>
			<div class="col-md-4" >
				{$codigo_muni_editcontrol1}
			</div>
		</div>
	</div>
{END codigo_muni_fieldblock}
	{BEGIN numero2_fieldblock}		
	<div class="container {$fielddispclass_numero2}" data-fieldname="numero2">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 numero2}
			</div>
			<div class="col-md-2" >
				{$searchtype_numero2}
			</div>
			<div class="col-md-4" >
				{$numero2_editcontrol}
			</div>
			<div class="col-md-4" >
				{$numero2_editcontrol1}
			</div>
		</div>
	</div>
{END numero2_fieldblock}
	{BEGIN depart_he_fieldblock}		
	<div class="container {$fielddispclass_depart_he}" data-fieldname="depart_he">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 depart_he}
			</div>
			<div class="col-md-2" >
				{$searchtype_depart_he}
			</div>
			<div class="col-md-4" >
				{$depart_he_editcontrol}
			</div>
			<div class="col-md-4" >
				{$depart_he_editcontrol1}
			</div>
		</div>
	</div>
{END depart_he_fieldblock}
	{BEGIN muni_he_fieldblock}		
	<div class="container {$fielddispclass_muni_he}" data-fieldname="muni_he">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 muni_he}
			</div>
			<div class="col-md-2" >
				{$searchtype_muni_he}
			</div>
			<div class="col-md-4" >
				{$muni_he_editcontrol}
			</div>
			<div class="col-md-4" >
				{$muni_he_editcontrol1}
			</div>
		</div>
	</div>
{END muni_he_fieldblock}
	{BEGIN dire_hecho_fieldblock}		
	<div class="container {$fielddispclass_dire_hecho}" data-fieldname="dire_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 dire_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_dire_hecho}
			</div>
			<div class="col-md-4" >
				{$dire_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dire_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END dire_hecho_fieldblock}
	{BEGIN lugar_esp_fieldblock}		
	<div class="container {$fielddispclass_lugar_esp}" data-fieldname="lugar_esp">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 lugar_esp}
			</div>
			<div class="col-md-2" >
				{$searchtype_lugar_esp}
			</div>
			<div class="col-md-4" >
				{$lugar_esp_editcontrol}
			</div>
			<div class="col-md-4" >
				{$lugar_esp_editcontrol1}
			</div>
		</div>
	</div>
{END lugar_esp_fieldblock}
	{BEGIN lugaranalisis_fieldblock}		
	<div class="container {$fielddispclass_lugaranalisis}" data-fieldname="lugaranalisis">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 lugaranalisis}
			</div>
			<div class="col-md-2" >
				{$searchtype_lugaranalisis}
			</div>
			<div class="col-md-4" >
				{$lugaranalisis_editcontrol}
			</div>
			<div class="col-md-4" >
				{$lugaranalisis_editcontrol1}
			</div>
		</div>
	</div>
{END lugaranalisis_fieldblock}
	{BEGIN area_fieldblock}		
	<div class="container {$fielddispclass_area}" data-fieldname="area">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 area}
			</div>
			<div class="col-md-2" >
				{$searchtype_area}
			</div>
			<div class="col-md-4" >
				{$area_editcontrol}
			</div>
			<div class="col-md-4" >
				{$area_editcontrol1}
			</div>
		</div>
	</div>
{END area_fieldblock}
	{BEGIN forma_cono_fieldblock}		
	<div class="container {$fielddispclass_forma_cono}" data-fieldname="forma_cono">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 forma_cono}
			</div>
			<div class="col-md-2" >
				{$searchtype_forma_cono}
			</div>
			<div class="col-md-4" >
				{$forma_cono_editcontrol}
			</div>
			<div class="col-md-4" >
				{$forma_cono_editcontrol1}
			</div>
		</div>
	</div>
{END forma_cono_fieldblock}
	{BEGIN delito_fieldblock}		
	<div class="container {$fielddispclass_delito}" data-fieldname="delito">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 delito}
			</div>
			<div class="col-md-2" >
				{$searchtype_delito}
			</div>
			<div class="col-md-4" >
				{$delito_editcontrol}
			</div>
			<div class="col-md-4" >
				{$delito_editcontrol1}
			</div>
		</div>
	</div>
{END delito_fieldblock}
	{BEGIN delito_espe_fieldblock}		
	<div class="container {$fielddispclass_delito_espe}" data-fieldname="delito_espe">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 delito_espe}
			</div>
			<div class="col-md-2" >
				{$searchtype_delito_espe}
			</div>
			<div class="col-md-4" >
				{$delito_espe_editcontrol}
			</div>
			<div class="col-md-4" >
				{$delito_espe_editcontrol1}
			</div>
		</div>
	</div>
{END delito_espe_fieldblock}
	{BEGIN dia_hecho_fieldblock}		
	<div class="container {$fielddispclass_dia_hecho}" data-fieldname="dia_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 dia_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_dia_hecho}
			</div>
			<div class="col-md-4" >
				{$dia_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dia_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END dia_hecho_fieldblock}
	{BEGIN hora_hecho_fieldblock}		
	<div class="container {$fielddispclass_hora_hecho}" data-fieldname="hora_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 hora_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_hora_hecho}
			</div>
			<div class="col-md-4" >
				{$hora_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$hora_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END hora_hecho_fieldblock}
	{BEGIN rango_hora_fieldblock}		
	<div class="container {$fielddispclass_rango_hora}" data-fieldname="rango_hora">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 rango_hora}
			</div>
			<div class="col-md-2" >
				{$searchtype_rango_hora}
			</div>
			<div class="col-md-4" >
				{$rango_hora_editcontrol}
			</div>
			<div class="col-md-4" >
				{$rango_hora_editcontrol1}
			</div>
		</div>
	</div>
{END rango_hora_fieldblock}
	{BEGIN fecha_hecho_fieldblock}		
	<div class="container {$fielddispclass_fecha_hecho}" data-fieldname="fecha_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 fecha_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_fecha_hecho}
			</div>
			<div class="col-md-4" >
				{$fecha_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fecha_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END fecha_hecho_fieldblock}
	{BEGIN a_o_hecho_fieldblock}		
	<div class="container {$fielddispclass_a_o_hecho}" data-fieldname="a_o_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 a_o_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_a_o_hecho}
			</div>
			<div class="col-md-4" >
				{$a_o_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$a_o_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END a_o_hecho_fieldblock}
	{BEGIN edad_victima_fieldblock}		
	<div class="container {$fielddispclass_edad_victima}" data-fieldname="edad_victima">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 edad_victima}
			</div>
			<div class="col-md-2" >
				{$searchtype_edad_victima}
			</div>
			<div class="col-md-4" >
				{$edad_victima_editcontrol}
			</div>
			<div class="col-md-4" >
				{$edad_victima_editcontrol1}
			</div>
		</div>
	</div>
{END edad_victima_fieldblock}
	{BEGIN ran_eta_vic_fieldblock}		
	<div class="container {$fielddispclass_ran_eta_vic}" data-fieldname="ran_eta_vic">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 ran_eta_vic}
			</div>
			<div class="col-md-2" >
				{$searchtype_ran_eta_vic}
			</div>
			<div class="col-md-4" >
				{$ran_eta_vic_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ran_eta_vic_editcontrol1}
			</div>
		</div>
	</div>
{END ran_eta_vic_fieldblock}
	{BEGIN s_victima_fieldblock}		
	<div class="container {$fielddispclass_s_victima}" data-fieldname="s_victima">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 s_victima}
			</div>
			<div class="col-md-2" >
				{$searchtype_s_victima}
			</div>
			<div class="col-md-4" >
				{$s_victima_editcontrol}
			</div>
			<div class="col-md-4" >
				{$s_victima_editcontrol1}
			</div>
		</div>
	</div>
{END s_victima_fieldblock}
	{BEGIN oc_victima_fieldblock}		
	<div class="container {$fielddispclass_oc_victima}" data-fieldname="oc_victima">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 oc_victima}
			</div>
			<div class="col-md-2" >
				{$searchtype_oc_victima}
			</div>
			<div class="col-md-4" >
				{$oc_victima_editcontrol}
			</div>
			<div class="col-md-4" >
				{$oc_victima_editcontrol1}
			</div>
		</div>
	</div>
{END oc_victima_fieldblock}
	{BEGIN relacion_vi_agre_fieldblock}		
	<div class="container {$fielddispclass_relacion_vi_agre}" data-fieldname="relacion_vi_agre">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 relacion_vi_agre}
			</div>
			<div class="col-md-2" >
				{$searchtype_relacion_vi_agre}
			</div>
			<div class="col-md-4" >
				{$relacion_vi_agre_editcontrol}
			</div>
			<div class="col-md-4" >
				{$relacion_vi_agre_editcontrol1}
			</div>
		</div>
	</div>
{END relacion_vi_agre_fieldblock}
	{BEGIN edad_agresor_fieldblock}		
	<div class="container {$fielddispclass_edad_agresor}" data-fieldname="edad_agresor">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 edad_agresor}
			</div>
			<div class="col-md-2" >
				{$searchtype_edad_agresor}
			</div>
			<div class="col-md-4" >
				{$edad_agresor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$edad_agresor_editcontrol1}
			</div>
		</div>
	</div>
{END edad_agresor_fieldblock}
	{BEGIN sexo__agresor_fieldblock}		
	<div class="container {$fielddispclass_sexo__agresor}" data-fieldname="sexo__agresor">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 sexo__agresor}
			</div>
			<div class="col-md-2" >
				{$searchtype_sexo__agresor}
			</div>
			<div class="col-md-4" >
				{$sexo__agresor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$sexo__agresor_editcontrol1}
			</div>
		</div>
	</div>
{END sexo__agresor_fieldblock}
	{BEGIN ocupa_agresor_fieldblock}		
	<div class="container {$fielddispclass_ocupa_agresor}" data-fieldname="ocupa_agresor">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 ocupa_agresor}
			</div>
			<div class="col-md-2" >
				{$searchtype_ocupa_agresor}
			</div>
			<div class="col-md-4" >
				{$ocupa_agresor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ocupa_agresor_editcontrol1}
			</div>
		</div>
	</div>
{END ocupa_agresor_fieldblock}
	{BEGIN movil_fieldblock}		
	<div class="container {$fielddispclass_movil}" data-fieldname="movil">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 movil}
			</div>
			<div class="col-md-2" >
				{$searchtype_movil}
			</div>
			<div class="col-md-4" >
				{$movil_editcontrol}
			</div>
			<div class="col-md-4" >
				{$movil_editcontrol1}
			</div>
		</div>
	</div>
{END movil_fieldblock}
	{BEGIN tipo_arma_fieldblock}		
	<div class="container {$fielddispclass_tipo_arma}" data-fieldname="tipo_arma">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 tipo_arma}
			</div>
			<div class="col-md-2" >
				{$searchtype_tipo_arma}
			</div>
			<div class="col-md-4" >
				{$tipo_arma_editcontrol}
			</div>
			<div class="col-md-4" >
				{$tipo_arma_editcontrol1}
			</div>
		</div>
	</div>
{END tipo_arma_fieldblock}
	{BEGIN canton_hecho_fieldblock}		
	<div class="container {$fielddispclass_canton_hecho}" data-fieldname="canton_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 canton_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_canton_hecho}
			</div>
			<div class="col-md-4" >
				{$canton_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$canton_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END canton_hecho_fieldblock}
	{BEGIN colonia_hecho_fieldblock}		
	<div class="container {$fielddispclass_colonia_hecho}" data-fieldname="colonia_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 colonia_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_colonia_hecho}
			</div>
			<div class="col-md-4" >
				{$colonia_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$colonia_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END colonia_hecho_fieldblock}
	{BEGIN caserio_hecho_fieldblock}		
	<div class="container {$fielddispclass_caserio_hecho}" data-fieldname="caserio_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 caserio_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_caserio_hecho}
			</div>
			<div class="col-md-4" >
				{$caserio_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$caserio_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END caserio_hecho_fieldblock}
	{BEGIN calle_hecho_fieldblock}		
	<div class="container {$fielddispclass_calle_hecho}" data-fieldname="calle_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 calle_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_calle_hecho}
			</div>
			<div class="col-md-4" >
				{$calle_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$calle_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END calle_hecho_fieldblock}
	{BEGIN avenida_hecho_fieldblock}		
	<div class="container {$fielddispclass_avenida_hecho}" data-fieldname="avenida_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 avenida_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_avenida_hecho}
			</div>
			<div class="col-md-4" >
				{$avenida_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$avenida_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END avenida_hecho_fieldblock}
	{BEGIN casa_hecho_fieldblock}		
	<div class="container {$fielddispclass_casa_hecho}" data-fieldname="casa_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 casa_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_casa_hecho}
			</div>
			<div class="col-md-4" >
				{$casa_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$casa_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END casa_hecho_fieldblock}
	{BEGIN comu_hecho_fieldblock}		
	<div class="container {$fielddispclass_comu_hecho}" data-fieldname="comu_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 comu_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_comu_hecho}
			</div>
			<div class="col-md-4" >
				{$comu_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$comu_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END comu_hecho_fieldblock}
	{BEGIN barrio_hecho_fieldblock}		
	<div class="container {$fielddispclass_barrio_hecho}" data-fieldname="barrio_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 barrio_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_barrio_hecho}
			</div>
			<div class="col-md-4" >
				{$barrio_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$barrio_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END barrio_hecho_fieldblock}
	{BEGIN comp_hecho_fieldblock}		
	<div class="container {$fielddispclass_comp_hecho}" data-fieldname="comp_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 comp_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype_comp_hecho}
			</div>
			<div class="col-md-4" >
				{$comp_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$comp_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END comp_hecho_fieldblock}
	{BEGIN sector_ppd_fieldblock}		
	<div class="container {$fielddispclass_sector_ppd}" data-fieldname="sector_ppd">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 sector_ppd}
			</div>
			<div class="col-md-2" >
				{$searchtype_sector_ppd}
			</div>
			<div class="col-md-4" >
				{$sector_ppd_editcontrol}
			</div>
			<div class="col-md-4" >
				{$sector_ppd_editcontrol1}
			</div>
		</div>
	</div>
{END sector_ppd_fieldblock}
	{BEGIN tipo_fieldblock}		
	<div class="container {$fielddispclass_tipo}" data-fieldname="tipo">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 tipo}
			</div>
			<div class="col-md-2" >
				{$searchtype_tipo}
			</div>
			<div class="col-md-4" >
				{$tipo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$tipo_editcontrol1}
			</div>
		</div>
	</div>
{END tipo_fieldblock}
	{BEGIN nombre_fieldblock}		
	<div class="container {$fielddispclass_nombre}" data-fieldname="nombre">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 nombre}
			</div>
			<div class="col-md-2" >
				{$searchtype_nombre}
			</div>
			<div class="col-md-4" >
				{$nombre_editcontrol}
			</div>
			<div class="col-md-4" >
				{$nombre_editcontrol1}
			</div>
		</div>
	</div>
{END nombre_fieldblock}
	{BEGIN x_fieldblock}		
	<div class="container {$fielddispclass_x}" data-fieldname="x">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 x}
			</div>
			<div class="col-md-2" >
				{$searchtype_x}
			</div>
			<div class="col-md-4" >
				{$x_editcontrol}
			</div>
			<div class="col-md-4" >
				{$x_editcontrol1}
			</div>
		</div>
	</div>
{END x_fieldblock}
	{BEGIN y_fieldblock}		
	<div class="container {$fielddispclass_y}" data-fieldname="y">
		<div class="form-group">
			<div class="col-md-2">
				{$label hechosdelictivos2 y}
			</div>
			<div class="col-md-2" >
				{$searchtype_y}
			</div>
			<div class="col-md-4" >
				{$y_editcontrol}
			</div>
			<div class="col-md-4" >
				{$y_editcontrol1}
			</div>
		</div>
	</div>
{END y_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
