<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_top}
<div {$top_chiddenattr} data-pageid="{$pageid}" data-container="top" class="container    "> 


{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}





{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				
				
		
				{BEGIN asearch_link}
		<li><a href="hechos_delictivos_VISTA_search.php" {$advsearchlink_attrs}>{mlang_message ADVANCED_SEARCH}</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">{mlang_message SHOW_SEARCH_PANEL}</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="hechos_delictivos_VISTA_export.php"  {$exportlink_attrs}>{mlang_message EXPORT_RESULTS}</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="hechos_delictivos_VISTA_import.php?{$crosstable_attrs}"  {$importlink_attrs}>{mlang_message IMPORT}</a></li>
		{END import_link}

					<li role="separator" class="divider"></li>
				{BEGIN EnglishLANGLINK}
				<li><a href="#" data-lang="English" class="rnr-langlink">
					{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
					English</a></li>
				{END EnglishLANGLINK}
				{BEGIN SpanishLANGLINK}
				<li><a href="#" data-lang="Spanish" class="rnr-langlink">
					{BEGIN SpanishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END SpanishLANGLINK_ACTIVE}
					Español</a></li>
				{END SpanishLANGLINK}
		
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>{mlang_message LOGIN}</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>{mlang_message LOG_OUT}</a></li>
		{END logoutbutton}
		

			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}






{BEGIN container_breadcrumbs}
<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}









{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}








{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
	
	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
			</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{mlang_message WR_PRINT_FRIENDLY}">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">{mlang_message PPANEL_SCOPE}</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="hechos_delictivos_VISTA_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							{mlang_message PPANEL_ALL_PAGES}
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="hechos_delictivos_VISTA_print.php?{$crosstable_attrs}" name="printScope" checked>
							{mlang_message PPANEL_THIS_PAGE}
						</label>
					</div>
				</div>
							</div>
		</li>
		<li class="divider" role="separator"></li>

		
				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											{mlang_message RECORDS_PP}:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >{mlang_message PPANEL_PRINT}</button>			
		</li>
	</ul>	
</span>

{END print_friendly}




</div>
{END container_gridinfo}








{BEGIN container_gridinfo_sort}
<div {$gridinfo_sort_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo_sort" class=" bottom-margin text-right col-md-12 "> 

{BEGIN reorder_records}
<div {$reorder_records_hiddenattr} data-pageid="{$pageid}" data-brick="reorder_records" class="form-inline sortby-ctrl">
{mlang_message SORT_BY}&nbsp;{$sortByDropdown}
</div>

{END reorder_records}



</div>
{END container_gridinfo_sort}






</div>{END container_gridcontrols}






</div>
{END container_top}


		</div>
		<div class="bs-middle bs-centered">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_filt}
<div {$filt_chiddenattr} data-pageid="{$pageid}" data-container="filt" class="    "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_filt}


			</div>
			<div class="bs-center">
				

{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=numero]:before {
		content: "{$label hechos_delictivos_VISTA numero}";
	}
	.bs-gridcell[data-field=id]:before {
		content: "{$label hechos_delictivos_VISTA id}";
	}
	.bs-gridcell[data-field=numero2]:before {
		content: "{$label hechos_delictivos_VISTA numero2}";
	}
	.bs-gridcell[data-field=lugaranalisis]:before {
		content: "{$label hechos_delictivos_VISTA lugaranalisis}";
	}
	.bs-gridcell[data-field=area]:before {
		content: "{$label hechos_delictivos_VISTA area}";
	}
	.bs-gridcell[data-field=delito]:before {
		content: "{$label hechos_delictivos_VISTA delito}";
	}
	.bs-gridcell[data-field=codigo_muni]:before {
		content: "{$label hechos_delictivos_VISTA codigo_muni}";
	}
	.bs-gridcell[data-field=depart_he]:before {
		content: "{$label hechos_delictivos_VISTA depart_he}";
	}
	.bs-gridcell[data-field=muni_he]:before {
		content: "{$label hechos_delictivos_VISTA muni_he}";
	}
	.bs-gridcell[data-field=dire_hecho]:before {
		content: "{$label hechos_delictivos_VISTA dire_hecho}";
	}
	.bs-gridcell[data-field=lugar_esp]:before {
		content: "{$label hechos_delictivos_VISTA lugar_esp}";
	}
	.bs-gridcell[data-field=forma_cono]:before {
		content: "{$label hechos_delictivos_VISTA forma_cono}";
	}
	.bs-gridcell[data-field=delito_espe]:before {
		content: "{$label hechos_delictivos_VISTA delito_espe}";
	}
	.bs-gridcell[data-field=dia_hecho]:before {
		content: "{$label hechos_delictivos_VISTA dia_hecho}";
	}
	.bs-gridcell[data-field=hora_hecho]:before {
		content: "{$label hechos_delictivos_VISTA hora_hecho}";
	}
	.bs-gridcell[data-field=rango_hora]:before {
		content: "{$label hechos_delictivos_VISTA rango_hora}";
	}
	.bs-gridcell[data-field=fecha_hecho]:before {
		content: "{$label hechos_delictivos_VISTA fecha_hecho}";
	}
	.bs-gridcell[data-field=mes_hecho]:before {
		content: "{$label hechos_delictivos_VISTA mes_hecho}";
	}
	.bs-gridcell[data-field=a_o_hecho]:before {
		content: "{$label hechos_delictivos_VISTA a_o_hecho}";
	}
	.bs-gridcell[data-field=edad_victima]:before {
		content: "{$label hechos_delictivos_VISTA edad_victima}";
	}
	.bs-gridcell[data-field=ran_eta_vic]:before {
		content: "{$label hechos_delictivos_VISTA ran_eta_vic}";
	}
	.bs-gridcell[data-field=s_victima]:before {
		content: "{$label hechos_delictivos_VISTA s_victima}";
	}
	.bs-gridcell[data-field=oc_victima]:before {
		content: "{$label hechos_delictivos_VISTA oc_victima}";
	}
	.bs-gridcell[data-field=relacion_vi_agre]:before {
		content: "{$label hechos_delictivos_VISTA relacion_vi_agre}";
	}
	.bs-gridcell[data-field=edad_agresor]:before {
		content: "{$label hechos_delictivos_VISTA edad_agresor}";
	}
	.bs-gridcell[data-field=sexo_agresor]:before {
		content: "{$label hechos_delictivos_VISTA sexo_agresor}";
	}
	.bs-gridcell[data-field=ocupa_agresor]:before {
		content: "{$label hechos_delictivos_VISTA ocupa_agresor}";
	}
	.bs-gridcell[data-field=movil]:before {
		content: "{$label hechos_delictivos_VISTA movil}";
	}
	.bs-gridcell[data-field=tipo_arma]:before {
		content: "{$label hechos_delictivos_VISTA tipo_arma}";
	}
	.bs-gridcell[data-field=canton_hecho]:before {
		content: "{$label hechos_delictivos_VISTA canton_hecho}";
	}
	.bs-gridcell[data-field=colonia_hecho]:before {
		content: "{$label hechos_delictivos_VISTA colonia_hecho}";
	}
	.bs-gridcell[data-field=caserio_hecho]:before {
		content: "{$label hechos_delictivos_VISTA caserio_hecho}";
	}
	.bs-gridcell[data-field=calle_hecho]:before {
		content: "{$label hechos_delictivos_VISTA calle_hecho}";
	}
	.bs-gridcell[data-field=avenida_hecho]:before {
		content: "{$label hechos_delictivos_VISTA avenida_hecho}";
	}
	.bs-gridcell[data-field=casa_hecho]:before {
		content: "{$label hechos_delictivos_VISTA casa_hecho}";
	}
	.bs-gridcell[data-field=com_hecho]:before {
		content: "{$label hechos_delictivos_VISTA com_hecho}";
	}
	.bs-gridcell[data-field=barrio_hecho]:before {
		content: "{$label hechos_delictivos_VISTA barrio_hecho}";
	}
	.bs-gridcell[data-field=comp_hecho]:before {
		content: "{$label hechos_delictivos_VISTA comp_hecho}";
	}
	.bs-gridcell[data-field=sector_ppd]:before {
		content: "{$label hechos_delictivos_VISTA sector_ppd}";
	}
	.bs-gridcell[data-field=tipo]:before {
		content: "{$label hechos_delictivos_VISTA tipo}";
	}
	.bs-gridcell[data-field=nombre]:before {
		content: "{$label hechos_delictivos_VISTA nombre}";
	}
	.bs-gridcell[data-field=x]:before {
		content: "{$label hechos_delictivos_VISTA x}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

									
																		
									{BEGIN numero_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$numero_class}" data-field=numero>
									{BEGIN numero_fieldheader}
																				<span {$numero_orderlinkattrs}>
											{$label hechos_delictivos_VISTA numero}
										</span>
									{END numero_fieldheader}
									</th>
									{END numero_fieldheadercolumn}
									
									
									
									
									{BEGIN id_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$id_class}" data-field=id>
									{BEGIN id_fieldheader}
																				<span {$id_orderlinkattrs}>
											{$label hechos_delictivos_VISTA id}
										</span>
									{END id_fieldheader}
									</th>
									{END id_fieldheadercolumn}
									
									
									
									
									{BEGIN numero2_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$numero2_class}" data-field=numero2>
									{BEGIN numero2_fieldheader}
																				<span {$numero2_orderlinkattrs}>
											{$label hechos_delictivos_VISTA numero2}
										</span>
									{END numero2_fieldheader}
									</th>
									{END numero2_fieldheadercolumn}
									
									
									
									
									{BEGIN lugaranalisis_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$lugaranalisis_class}" data-field=lugaranalisis>
									{BEGIN lugaranalisis_fieldheader}
																				<span {$lugaranalisis_orderlinkattrs}>
											{$label hechos_delictivos_VISTA lugaranalisis}
										</span>
									{END lugaranalisis_fieldheader}
									</th>
									{END lugaranalisis_fieldheadercolumn}
									
									
									
									
									{BEGIN area_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$area_class}" data-field=area>
									{BEGIN area_fieldheader}
																				<span {$area_orderlinkattrs}>
											{$label hechos_delictivos_VISTA area}
										</span>
									{END area_fieldheader}
									</th>
									{END area_fieldheadercolumn}
									
									
									
									
									{BEGIN delito_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$delito_class}" data-field=delito>
									{BEGIN delito_fieldheader}
																				<span {$delito_orderlinkattrs}>
											{$label hechos_delictivos_VISTA delito}
										</span>
									{END delito_fieldheader}
									</th>
									{END delito_fieldheadercolumn}
									
									
									
									
									{BEGIN codigo_muni_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$codigo_muni_class}" data-field=codigo_muni>
									{BEGIN codigo_muni_fieldheader}
																				<span {$codigo_muni_orderlinkattrs}>
											{$label hechos_delictivos_VISTA codigo_muni}
										</span>
									{END codigo_muni_fieldheader}
									</th>
									{END codigo_muni_fieldheadercolumn}
									
									
									
									
									{BEGIN depart_he_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$depart_he_class}" data-field=depart_he>
									{BEGIN depart_he_fieldheader}
																				<span {$depart_he_orderlinkattrs}>
											{$label hechos_delictivos_VISTA depart_he}
										</span>
									{END depart_he_fieldheader}
									</th>
									{END depart_he_fieldheadercolumn}
									
									
									
									
									{BEGIN muni_he_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$muni_he_class}" data-field=muni_he>
									{BEGIN muni_he_fieldheader}
																				<span {$muni_he_orderlinkattrs}>
											{$label hechos_delictivos_VISTA muni_he}
										</span>
									{END muni_he_fieldheader}
									</th>
									{END muni_he_fieldheadercolumn}
									
									
									
									
									{BEGIN dire_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$dire_hecho_class}" data-field=dire_hecho>
									{BEGIN dire_hecho_fieldheader}
																				<span {$dire_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA dire_hecho}
										</span>
									{END dire_hecho_fieldheader}
									</th>
									{END dire_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN lugar_esp_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$lugar_esp_class}" data-field=lugar_esp>
									{BEGIN lugar_esp_fieldheader}
																				<span {$lugar_esp_orderlinkattrs}>
											{$label hechos_delictivos_VISTA lugar_esp}
										</span>
									{END lugar_esp_fieldheader}
									</th>
									{END lugar_esp_fieldheadercolumn}
									
									
									
									
									{BEGIN forma_cono_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$forma_cono_class}" data-field=forma_cono>
									{BEGIN forma_cono_fieldheader}
																				<span {$forma_cono_orderlinkattrs}>
											{$label hechos_delictivos_VISTA forma_cono}
										</span>
									{END forma_cono_fieldheader}
									</th>
									{END forma_cono_fieldheadercolumn}
									
									
									
									
									{BEGIN delito_espe_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$delito_espe_class}" data-field=delito_espe>
									{BEGIN delito_espe_fieldheader}
																				<span {$delito_espe_orderlinkattrs}>
											{$label hechos_delictivos_VISTA delito_espe}
										</span>
									{END delito_espe_fieldheader}
									</th>
									{END delito_espe_fieldheadercolumn}
									
									
									
									
									{BEGIN dia_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$dia_hecho_class}" data-field=dia_hecho>
									{BEGIN dia_hecho_fieldheader}
																				<span {$dia_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA dia_hecho}
										</span>
									{END dia_hecho_fieldheader}
									</th>
									{END dia_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN hora_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$hora_hecho_class}" data-field=hora_hecho>
									{BEGIN hora_hecho_fieldheader}
																				<span {$hora_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA hora_hecho}
										</span>
									{END hora_hecho_fieldheader}
									</th>
									{END hora_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN rango_hora_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$rango_hora_class}" data-field=rango_hora>
									{BEGIN rango_hora_fieldheader}
																				<span {$rango_hora_orderlinkattrs}>
											{$label hechos_delictivos_VISTA rango_hora}
										</span>
									{END rango_hora_fieldheader}
									</th>
									{END rango_hora_fieldheadercolumn}
									
									
									
									
									{BEGIN fecha_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$fecha_hecho_class}" data-field=fecha_hecho>
									{BEGIN fecha_hecho_fieldheader}
																				<span {$fecha_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA fecha_hecho}
										</span>
									{END fecha_hecho_fieldheader}
									</th>
									{END fecha_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN mes_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$mes_hecho_class}" data-field=mes_hecho>
									{BEGIN mes_hecho_fieldheader}
																				<span {$mes_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA mes_hecho}
										</span>
									{END mes_hecho_fieldheader}
									</th>
									{END mes_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN a_o_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$a_o_hecho_class}" data-field=a_o_hecho>
									{BEGIN a_o_hecho_fieldheader}
																				<span {$a_o_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA a_o_hecho}
										</span>
									{END a_o_hecho_fieldheader}
									</th>
									{END a_o_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN edad_victima_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$edad_victima_class}" data-field=edad_victima>
									{BEGIN edad_victima_fieldheader}
																				<span {$edad_victima_orderlinkattrs}>
											{$label hechos_delictivos_VISTA edad_victima}
										</span>
									{END edad_victima_fieldheader}
									</th>
									{END edad_victima_fieldheadercolumn}
									
									
									
									
									{BEGIN ran_eta_vic_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ran_eta_vic_class}" data-field=ran_eta_vic>
									{BEGIN ran_eta_vic_fieldheader}
																				<span {$ran_eta_vic_orderlinkattrs}>
											{$label hechos_delictivos_VISTA ran_eta_vic}
										</span>
									{END ran_eta_vic_fieldheader}
									</th>
									{END ran_eta_vic_fieldheadercolumn}
									
									
									
									
									{BEGIN s_victima_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$s_victima_class}" data-field=s_victima>
									{BEGIN s_victima_fieldheader}
																				<span {$s_victima_orderlinkattrs}>
											{$label hechos_delictivos_VISTA s_victima}
										</span>
									{END s_victima_fieldheader}
									</th>
									{END s_victima_fieldheadercolumn}
									
									
									
									
									{BEGIN oc_victima_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$oc_victima_class}" data-field=oc_victima>
									{BEGIN oc_victima_fieldheader}
																				<span {$oc_victima_orderlinkattrs}>
											{$label hechos_delictivos_VISTA oc_victima}
										</span>
									{END oc_victima_fieldheader}
									</th>
									{END oc_victima_fieldheadercolumn}
									
									
									
									
									{BEGIN relacion_vi_agre_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$relacion_vi_agre_class}" data-field=relacion_vi_agre>
									{BEGIN relacion_vi_agre_fieldheader}
																				<span {$relacion_vi_agre_orderlinkattrs}>
											{$label hechos_delictivos_VISTA relacion_vi_agre}
										</span>
									{END relacion_vi_agre_fieldheader}
									</th>
									{END relacion_vi_agre_fieldheadercolumn}
									
									
									
									
									{BEGIN edad_agresor_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$edad_agresor_class}" data-field=edad_agresor>
									{BEGIN edad_agresor_fieldheader}
																				<span {$edad_agresor_orderlinkattrs}>
											{$label hechos_delictivos_VISTA edad_agresor}
										</span>
									{END edad_agresor_fieldheader}
									</th>
									{END edad_agresor_fieldheadercolumn}
									
									
									
									
									{BEGIN sexo_agresor_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$sexo_agresor_class}" data-field=sexo_agresor>
									{BEGIN sexo_agresor_fieldheader}
																				<span {$sexo_agresor_orderlinkattrs}>
											{$label hechos_delictivos_VISTA sexo_agresor}
										</span>
									{END sexo_agresor_fieldheader}
									</th>
									{END sexo_agresor_fieldheadercolumn}
									
									
									
									
									{BEGIN ocupa_agresor_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ocupa_agresor_class}" data-field=ocupa_agresor>
									{BEGIN ocupa_agresor_fieldheader}
																				<span {$ocupa_agresor_orderlinkattrs}>
											{$label hechos_delictivos_VISTA ocupa_agresor}
										</span>
									{END ocupa_agresor_fieldheader}
									</th>
									{END ocupa_agresor_fieldheadercolumn}
									
									
									
									
									{BEGIN movil_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$movil_class}" data-field=movil>
									{BEGIN movil_fieldheader}
																				<span {$movil_orderlinkattrs}>
											{$label hechos_delictivos_VISTA movil}
										</span>
									{END movil_fieldheader}
									</th>
									{END movil_fieldheadercolumn}
									
									
									
									
									{BEGIN tipo_arma_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$tipo_arma_class}" data-field=tipo_arma>
									{BEGIN tipo_arma_fieldheader}
																				<span {$tipo_arma_orderlinkattrs}>
											{$label hechos_delictivos_VISTA tipo_arma}
										</span>
									{END tipo_arma_fieldheader}
									</th>
									{END tipo_arma_fieldheadercolumn}
									
									
									
									
									{BEGIN canton_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$canton_hecho_class}" data-field=canton_hecho>
									{BEGIN canton_hecho_fieldheader}
																				<span {$canton_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA canton_hecho}
										</span>
									{END canton_hecho_fieldheader}
									</th>
									{END canton_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN colonia_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$colonia_hecho_class}" data-field=colonia_hecho>
									{BEGIN colonia_hecho_fieldheader}
																				<span {$colonia_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA colonia_hecho}
										</span>
									{END colonia_hecho_fieldheader}
									</th>
									{END colonia_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN caserio_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$caserio_hecho_class}" data-field=caserio_hecho>
									{BEGIN caserio_hecho_fieldheader}
																				<span {$caserio_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA caserio_hecho}
										</span>
									{END caserio_hecho_fieldheader}
									</th>
									{END caserio_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN calle_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$calle_hecho_class}" data-field=calle_hecho>
									{BEGIN calle_hecho_fieldheader}
																				<span {$calle_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA calle_hecho}
										</span>
									{END calle_hecho_fieldheader}
									</th>
									{END calle_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN avenida_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$avenida_hecho_class}" data-field=avenida_hecho>
									{BEGIN avenida_hecho_fieldheader}
																				<span {$avenida_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA avenida_hecho}
										</span>
									{END avenida_hecho_fieldheader}
									</th>
									{END avenida_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN casa_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$casa_hecho_class}" data-field=casa_hecho>
									{BEGIN casa_hecho_fieldheader}
																				<span {$casa_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA casa_hecho}
										</span>
									{END casa_hecho_fieldheader}
									</th>
									{END casa_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN com_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$com_hecho_class}" data-field=com_hecho>
									{BEGIN com_hecho_fieldheader}
																				<span {$com_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA com_hecho}
										</span>
									{END com_hecho_fieldheader}
									</th>
									{END com_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN barrio_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$barrio_hecho_class}" data-field=barrio_hecho>
									{BEGIN barrio_hecho_fieldheader}
																				<span {$barrio_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA barrio_hecho}
										</span>
									{END barrio_hecho_fieldheader}
									</th>
									{END barrio_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN comp_hecho_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$comp_hecho_class}" data-field=comp_hecho>
									{BEGIN comp_hecho_fieldheader}
																				<span {$comp_hecho_orderlinkattrs}>
											{$label hechos_delictivos_VISTA comp_hecho}
										</span>
									{END comp_hecho_fieldheader}
									</th>
									{END comp_hecho_fieldheadercolumn}
									
									
									
									
									{BEGIN sector_ppd_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$sector_ppd_class}" data-field=sector_ppd>
									{BEGIN sector_ppd_fieldheader}
																				<span {$sector_ppd_orderlinkattrs}>
											{$label hechos_delictivos_VISTA sector_ppd}
										</span>
									{END sector_ppd_fieldheader}
									</th>
									{END sector_ppd_fieldheadercolumn}
									
									
									
									
									{BEGIN tipo_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$tipo_class}" data-field=tipo>
									{BEGIN tipo_fieldheader}
																				<span {$tipo_orderlinkattrs}>
											{$label hechos_delictivos_VISTA tipo}
										</span>
									{END tipo_fieldheader}
									</th>
									{END tipo_fieldheadercolumn}
									
									
									
									
									{BEGIN nombre_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$nombre_class}" data-field=nombre>
									{BEGIN nombre_fieldheader}
																				<span {$nombre_orderlinkattrs}>
											{$label hechos_delictivos_VISTA nombre}
										</span>
									{END nombre_fieldheader}
									</th>
									{END nombre_fieldheadercolumn}
									
									
									
									
									{BEGIN x_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$x_class}" data-field=x>
									{BEGIN x_fieldheader}
																				<span {$x_orderlinkattrs}>
											{$label hechos_delictivos_VISTA x}
										</span>
									{END x_fieldheader}
									</th>
									{END x_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
	
	
	
		</td>	
	{END listIcons_column}	

	
	

	{BEGIN numero_fieldcolumn}
	<td class="bs-gridcell {$numero_class}"  data-field=numero {$rowstyle} {$recordattrs}>
		{$numero_value}
	</td>
{END numero_fieldcolumn}


	{BEGIN id_fieldcolumn}
	<td class="bs-gridcell {$id_class}"  data-field=id {$rowstyle} {$recordattrs}>
		{$id_value}
	</td>
{END id_fieldcolumn}


	{BEGIN numero2_fieldcolumn}
	<td class="bs-gridcell {$numero2_class}"  data-field=numero2 {$rowstyle} {$recordattrs}>
		{$numero2_value}
	</td>
{END numero2_fieldcolumn}


	{BEGIN lugaranalisis_fieldcolumn}
	<td class="bs-gridcell {$lugaranalisis_class}"  data-field=lugaranalisis {$rowstyle} {$recordattrs}>
		{$lugaranalisis_value}
	</td>
{END lugaranalisis_fieldcolumn}


	{BEGIN area_fieldcolumn}
	<td class="bs-gridcell {$area_class}"  data-field=area {$rowstyle} {$recordattrs}>
		{$area_value}
	</td>
{END area_fieldcolumn}


	{BEGIN delito_fieldcolumn}
	<td class="bs-gridcell {$delito_class}"  data-field=delito {$rowstyle} {$recordattrs}>
		{$delito_value}
	</td>
{END delito_fieldcolumn}


	{BEGIN codigo_muni_fieldcolumn}
	<td class="bs-gridcell {$codigo_muni_class}"  data-field=codigo_muni {$rowstyle} {$recordattrs}>
		{$codigo_muni_value}
	</td>
{END codigo_muni_fieldcolumn}


	{BEGIN depart_he_fieldcolumn}
	<td class="bs-gridcell {$depart_he_class}"  data-field=depart_he {$rowstyle} {$recordattrs}>
		{$depart_he_value}
	</td>
{END depart_he_fieldcolumn}


	{BEGIN muni_he_fieldcolumn}
	<td class="bs-gridcell {$muni_he_class}"  data-field=muni_he {$rowstyle} {$recordattrs}>
		{$muni_he_value}
	</td>
{END muni_he_fieldcolumn}


	{BEGIN dire_hecho_fieldcolumn}
	<td class="bs-gridcell {$dire_hecho_class}"  data-field=dire_hecho {$rowstyle} {$recordattrs}>
		{$dire_hecho_value}
	</td>
{END dire_hecho_fieldcolumn}


	{BEGIN lugar_esp_fieldcolumn}
	<td class="bs-gridcell {$lugar_esp_class}"  data-field=lugar_esp {$rowstyle} {$recordattrs}>
		{$lugar_esp_value}
	</td>
{END lugar_esp_fieldcolumn}


	{BEGIN forma_cono_fieldcolumn}
	<td class="bs-gridcell {$forma_cono_class}"  data-field=forma_cono {$rowstyle} {$recordattrs}>
		{$forma_cono_value}
	</td>
{END forma_cono_fieldcolumn}


	{BEGIN delito_espe_fieldcolumn}
	<td class="bs-gridcell {$delito_espe_class}"  data-field=delito_espe {$rowstyle} {$recordattrs}>
		{$delito_espe_value}
	</td>
{END delito_espe_fieldcolumn}


	{BEGIN dia_hecho_fieldcolumn}
	<td class="bs-gridcell {$dia_hecho_class}"  data-field=dia_hecho {$rowstyle} {$recordattrs}>
		{$dia_hecho_value}
	</td>
{END dia_hecho_fieldcolumn}


	{BEGIN hora_hecho_fieldcolumn}
	<td class="bs-gridcell {$hora_hecho_class}"  data-field=hora_hecho {$rowstyle} {$recordattrs}>
		{$hora_hecho_value}
	</td>
{END hora_hecho_fieldcolumn}


	{BEGIN rango_hora_fieldcolumn}
	<td class="bs-gridcell {$rango_hora_class}"  data-field=rango_hora {$rowstyle} {$recordattrs}>
		{$rango_hora_value}
	</td>
{END rango_hora_fieldcolumn}


	{BEGIN fecha_hecho_fieldcolumn}
	<td class="bs-gridcell {$fecha_hecho_class}"  data-field=fecha_hecho {$rowstyle} {$recordattrs}>
		{$fecha_hecho_value}
	</td>
{END fecha_hecho_fieldcolumn}


	{BEGIN mes_hecho_fieldcolumn}
	<td class="bs-gridcell {$mes_hecho_class}"  data-field=mes_hecho {$rowstyle} {$recordattrs}>
		{$mes_hecho_value}
	</td>
{END mes_hecho_fieldcolumn}


	{BEGIN a_o_hecho_fieldcolumn}
	<td class="bs-gridcell {$a_o_hecho_class}"  data-field=a_o_hecho {$rowstyle} {$recordattrs}>
		{$a_o_hecho_value}
	</td>
{END a_o_hecho_fieldcolumn}


	{BEGIN edad_victima_fieldcolumn}
	<td class="bs-gridcell {$edad_victima_class}"  data-field=edad_victima {$rowstyle} {$recordattrs}>
		{$edad_victima_value}
	</td>
{END edad_victima_fieldcolumn}


	{BEGIN ran_eta_vic_fieldcolumn}
	<td class="bs-gridcell {$ran_eta_vic_class}"  data-field=ran_eta_vic {$rowstyle} {$recordattrs}>
		{$ran_eta_vic_value}
	</td>
{END ran_eta_vic_fieldcolumn}


	{BEGIN s_victima_fieldcolumn}
	<td class="bs-gridcell {$s_victima_class}"  data-field=s_victima {$rowstyle} {$recordattrs}>
		{$s_victima_value}
	</td>
{END s_victima_fieldcolumn}


	{BEGIN oc_victima_fieldcolumn}
	<td class="bs-gridcell {$oc_victima_class}"  data-field=oc_victima {$rowstyle} {$recordattrs}>
		{$oc_victima_value}
	</td>
{END oc_victima_fieldcolumn}


	{BEGIN relacion_vi_agre_fieldcolumn}
	<td class="bs-gridcell {$relacion_vi_agre_class}"  data-field=relacion_vi_agre {$rowstyle} {$recordattrs}>
		{$relacion_vi_agre_value}
	</td>
{END relacion_vi_agre_fieldcolumn}


	{BEGIN edad_agresor_fieldcolumn}
	<td class="bs-gridcell {$edad_agresor_class}"  data-field=edad_agresor {$rowstyle} {$recordattrs}>
		{$edad_agresor_value}
	</td>
{END edad_agresor_fieldcolumn}


	{BEGIN sexo_agresor_fieldcolumn}
	<td class="bs-gridcell {$sexo_agresor_class}"  data-field=sexo_agresor {$rowstyle} {$recordattrs}>
		{$sexo_agresor_value}
	</td>
{END sexo_agresor_fieldcolumn}


	{BEGIN ocupa_agresor_fieldcolumn}
	<td class="bs-gridcell {$ocupa_agresor_class}"  data-field=ocupa_agresor {$rowstyle} {$recordattrs}>
		{$ocupa_agresor_value}
	</td>
{END ocupa_agresor_fieldcolumn}


	{BEGIN movil_fieldcolumn}
	<td class="bs-gridcell {$movil_class}"  data-field=movil {$rowstyle} {$recordattrs}>
		{$movil_value}
	</td>
{END movil_fieldcolumn}


	{BEGIN tipo_arma_fieldcolumn}
	<td class="bs-gridcell {$tipo_arma_class}"  data-field=tipo_arma {$rowstyle} {$recordattrs}>
		{$tipo_arma_value}
	</td>
{END tipo_arma_fieldcolumn}


	{BEGIN canton_hecho_fieldcolumn}
	<td class="bs-gridcell {$canton_hecho_class}"  data-field=canton_hecho {$rowstyle} {$recordattrs}>
		{$canton_hecho_value}
	</td>
{END canton_hecho_fieldcolumn}


	{BEGIN colonia_hecho_fieldcolumn}
	<td class="bs-gridcell {$colonia_hecho_class}"  data-field=colonia_hecho {$rowstyle} {$recordattrs}>
		{$colonia_hecho_value}
	</td>
{END colonia_hecho_fieldcolumn}


	{BEGIN caserio_hecho_fieldcolumn}
	<td class="bs-gridcell {$caserio_hecho_class}"  data-field=caserio_hecho {$rowstyle} {$recordattrs}>
		{$caserio_hecho_value}
	</td>
{END caserio_hecho_fieldcolumn}


	{BEGIN calle_hecho_fieldcolumn}
	<td class="bs-gridcell {$calle_hecho_class}"  data-field=calle_hecho {$rowstyle} {$recordattrs}>
		{$calle_hecho_value}
	</td>
{END calle_hecho_fieldcolumn}


	{BEGIN avenida_hecho_fieldcolumn}
	<td class="bs-gridcell {$avenida_hecho_class}"  data-field=avenida_hecho {$rowstyle} {$recordattrs}>
		{$avenida_hecho_value}
	</td>
{END avenida_hecho_fieldcolumn}


	{BEGIN casa_hecho_fieldcolumn}
	<td class="bs-gridcell {$casa_hecho_class}"  data-field=casa_hecho {$rowstyle} {$recordattrs}>
		{$casa_hecho_value}
	</td>
{END casa_hecho_fieldcolumn}


	{BEGIN com_hecho_fieldcolumn}
	<td class="bs-gridcell {$com_hecho_class}"  data-field=com_hecho {$rowstyle} {$recordattrs}>
		{$com_hecho_value}
	</td>
{END com_hecho_fieldcolumn}


	{BEGIN barrio_hecho_fieldcolumn}
	<td class="bs-gridcell {$barrio_hecho_class}"  data-field=barrio_hecho {$rowstyle} {$recordattrs}>
		{$barrio_hecho_value}
	</td>
{END barrio_hecho_fieldcolumn}


	{BEGIN comp_hecho_fieldcolumn}
	<td class="bs-gridcell {$comp_hecho_class}"  data-field=comp_hecho {$rowstyle} {$recordattrs}>
		{$comp_hecho_value}
	</td>
{END comp_hecho_fieldcolumn}


	{BEGIN sector_ppd_fieldcolumn}
	<td class="bs-gridcell {$sector_ppd_class}"  data-field=sector_ppd {$rowstyle} {$recordattrs}>
		{$sector_ppd_value}
	</td>
{END sector_ppd_fieldcolumn}


	{BEGIN tipo_fieldcolumn}
	<td class="bs-gridcell {$tipo_class}"  data-field=tipo {$rowstyle} {$recordattrs}>
		{$tipo_value}
	</td>
{END tipo_fieldcolumn}


	{BEGIN nombre_fieldcolumn}
	<td class="bs-gridcell {$nombre_class}"  data-field=nombre {$rowstyle} {$recordattrs}>
		{$nombre_value}
	</td>
{END nombre_fieldcolumn}


	{BEGIN x_fieldcolumn}
	<td class="bs-gridcell {$x_class}"  data-field=x {$rowstyle} {$recordattrs}>
		{$x_value}
	</td>
{END x_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
