<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel hechosdelictivos2 view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN id1_fieldblock}
	<div class="{$fielddispclass_id1} col-md-6 bs-viewcontrolgroup" data-fieldname="id1">
		<label class="control-label" for="{$labelfor_id1}">
			{$label hechosdelictivos2 id1}
		</label>
		<div class="" >
			{$id1_value}&nbsp;
		</div>
	</div>
{END id1_fieldblock}
					{BEGIN correlativo_fieldblock}
	<div class="{$fielddispclass_correlativo} col-md-6 bs-viewcontrolgroup" data-fieldname="correlativo">
		<label class="control-label" for="{$labelfor_correlativo}">
			{$label hechosdelictivos2 correlativo}
		</label>
		<div class="" >
			{$correlativo_value}&nbsp;
		</div>
	</div>
{END correlativo_fieldblock}
					{BEGIN numero_fieldblock}
	<div class="{$fielddispclass_numero} col-md-6 bs-viewcontrolgroup" data-fieldname="numero">
		<label class="control-label" for="{$labelfor_numero}">
			{$label hechosdelictivos2 numero}
		</label>
		<div class="" >
			{$numero_value}&nbsp;
		</div>
	</div>
{END numero_fieldblock}
					{BEGIN id_fieldblock}
	<div class="{$fielddispclass_id} col-md-6 bs-viewcontrolgroup" data-fieldname="id">
		<label class="control-label" for="{$labelfor_id}">
			{$label hechosdelictivos2 id}
		</label>
		<div class="" >
			{$id_value}&nbsp;
		</div>
	</div>
{END id_fieldblock}
					{BEGIN codigo_muni_fieldblock}
	<div class="{$fielddispclass_codigo_muni} col-md-6 bs-viewcontrolgroup" data-fieldname="codigo_muni">
		<label class="control-label" for="{$labelfor_codigo_muni}">
			{$label hechosdelictivos2 codigo_muni}
		</label>
		<div class="" >
			{$codigo_muni_value}&nbsp;
		</div>
	</div>
{END codigo_muni_fieldblock}
					{BEGIN numero2_fieldblock}
	<div class="{$fielddispclass_numero2} col-md-6 bs-viewcontrolgroup" data-fieldname="numero2">
		<label class="control-label" for="{$labelfor_numero2}">
			{$label hechosdelictivos2 numero2}
		</label>
		<div class="" >
			{$numero2_value}&nbsp;
		</div>
	</div>
{END numero2_fieldblock}
					{BEGIN depart_he_fieldblock}
	<div class="{$fielddispclass_depart_he} col-md-6 bs-viewcontrolgroup" data-fieldname="depart_he">
		<label class="control-label" for="{$labelfor_depart_he}">
			{$label hechosdelictivos2 depart_he}
		</label>
		<div class="" >
			{$depart_he_value}&nbsp;
		</div>
	</div>
{END depart_he_fieldblock}
					{BEGIN muni_he_fieldblock}
	<div class="{$fielddispclass_muni_he} col-md-6 bs-viewcontrolgroup" data-fieldname="muni_he">
		<label class="control-label" for="{$labelfor_muni_he}">
			{$label hechosdelictivos2 muni_he}
		</label>
		<div class="" >
			{$muni_he_value}&nbsp;
		</div>
	</div>
{END muni_he_fieldblock}
					{BEGIN dire_hecho_fieldblock}
	<div class="{$fielddispclass_dire_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="dire_hecho">
		<label class="control-label" for="{$labelfor_dire_hecho}">
			{$label hechosdelictivos2 dire_hecho}
		</label>
		<div class="" >
			{$dire_hecho_value}&nbsp;
		</div>
	</div>
{END dire_hecho_fieldblock}
					{BEGIN lugar_esp_fieldblock}
	<div class="{$fielddispclass_lugar_esp} col-md-6 bs-viewcontrolgroup" data-fieldname="lugar_esp">
		<label class="control-label" for="{$labelfor_lugar_esp}">
			{$label hechosdelictivos2 lugar_esp}
		</label>
		<div class="" >
			{$lugar_esp_value}&nbsp;
		</div>
	</div>
{END lugar_esp_fieldblock}
					{BEGIN lugaranalisis_fieldblock}
	<div class="{$fielddispclass_lugaranalisis} col-md-6 bs-viewcontrolgroup" data-fieldname="lugaranalisis">
		<label class="control-label" for="{$labelfor_lugaranalisis}">
			{$label hechosdelictivos2 lugaranalisis}
		</label>
		<div class="" >
			{$lugaranalisis_value}&nbsp;
		</div>
	</div>
{END lugaranalisis_fieldblock}
					{BEGIN area_fieldblock}
	<div class="{$fielddispclass_area} col-md-6 bs-viewcontrolgroup" data-fieldname="area">
		<label class="control-label" for="{$labelfor_area}">
			{$label hechosdelictivos2 area}
		</label>
		<div class="" >
			{$area_value}&nbsp;
		</div>
	</div>
{END area_fieldblock}
					{BEGIN forma_cono_fieldblock}
	<div class="{$fielddispclass_forma_cono} col-md-6 bs-viewcontrolgroup" data-fieldname="forma_cono">
		<label class="control-label" for="{$labelfor_forma_cono}">
			{$label hechosdelictivos2 forma_cono}
		</label>
		<div class="" >
			{$forma_cono_value}&nbsp;
		</div>
	</div>
{END forma_cono_fieldblock}
					{BEGIN delito_fieldblock}
	<div class="{$fielddispclass_delito} col-md-6 bs-viewcontrolgroup" data-fieldname="delito">
		<label class="control-label" for="{$labelfor_delito}">
			{$label hechosdelictivos2 delito}
		</label>
		<div class="" >
			{$delito_value}&nbsp;
		</div>
	</div>
{END delito_fieldblock}
					{BEGIN delito_espe_fieldblock}
	<div class="{$fielddispclass_delito_espe} col-md-6 bs-viewcontrolgroup" data-fieldname="delito_espe">
		<label class="control-label" for="{$labelfor_delito_espe}">
			{$label hechosdelictivos2 delito_espe}
		</label>
		<div class="" >
			{$delito_espe_value}&nbsp;
		</div>
	</div>
{END delito_espe_fieldblock}
					{BEGIN dia_hecho_fieldblock}
	<div class="{$fielddispclass_dia_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="dia_hecho">
		<label class="control-label" for="{$labelfor_dia_hecho}">
			{$label hechosdelictivos2 dia_hecho}
		</label>
		<div class="" >
			{$dia_hecho_value}&nbsp;
		</div>
	</div>
{END dia_hecho_fieldblock}
					{BEGIN hora_hecho_fieldblock}
	<div class="{$fielddispclass_hora_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="hora_hecho">
		<label class="control-label" for="{$labelfor_hora_hecho}">
			{$label hechosdelictivos2 hora_hecho}
		</label>
		<div class="" >
			{$hora_hecho_value}&nbsp;
		</div>
	</div>
{END hora_hecho_fieldblock}
					{BEGIN rango_hora_fieldblock}
	<div class="{$fielddispclass_rango_hora} col-md-6 bs-viewcontrolgroup" data-fieldname="rango_hora">
		<label class="control-label" for="{$labelfor_rango_hora}">
			{$label hechosdelictivos2 rango_hora}
		</label>
		<div class="" >
			{$rango_hora_value}&nbsp;
		</div>
	</div>
{END rango_hora_fieldblock}
					{BEGIN fecha_hecho_fieldblock}
	<div class="{$fielddispclass_fecha_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="fecha_hecho">
		<label class="control-label" for="{$labelfor_fecha_hecho}">
			{$label hechosdelictivos2 fecha_hecho}
		</label>
		<div class="" >
			{$fecha_hecho_value}&nbsp;
		</div>
	</div>
{END fecha_hecho_fieldblock}
					{BEGIN a_o_hecho_fieldblock}
	<div class="{$fielddispclass_a_o_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="a_o_hecho">
		<label class="control-label" for="{$labelfor_a_o_hecho}">
			{$label hechosdelictivos2 a_o_hecho}
		</label>
		<div class="" >
			{$a_o_hecho_value}&nbsp;
		</div>
	</div>
{END a_o_hecho_fieldblock}
					{BEGIN edad_victima_fieldblock}
	<div class="{$fielddispclass_edad_victima} col-md-6 bs-viewcontrolgroup" data-fieldname="edad_victima">
		<label class="control-label" for="{$labelfor_edad_victima}">
			{$label hechosdelictivos2 edad_victima}
		</label>
		<div class="" >
			{$edad_victima_value}&nbsp;
		</div>
	</div>
{END edad_victima_fieldblock}
					{BEGIN ran_eta_vic_fieldblock}
	<div class="{$fielddispclass_ran_eta_vic} col-md-6 bs-viewcontrolgroup" data-fieldname="ran_eta_vic">
		<label class="control-label" for="{$labelfor_ran_eta_vic}">
			{$label hechosdelictivos2 ran_eta_vic}
		</label>
		<div class="" >
			{$ran_eta_vic_value}&nbsp;
		</div>
	</div>
{END ran_eta_vic_fieldblock}
					{BEGIN s_victima_fieldblock}
	<div class="{$fielddispclass_s_victima} col-md-6 bs-viewcontrolgroup" data-fieldname="s_victima">
		<label class="control-label" for="{$labelfor_s_victima}">
			{$label hechosdelictivos2 s_victima}
		</label>
		<div class="" >
			{$s_victima_value}&nbsp;
		</div>
	</div>
{END s_victima_fieldblock}
					{BEGIN oc_victima_fieldblock}
	<div class="{$fielddispclass_oc_victima} col-md-6 bs-viewcontrolgroup" data-fieldname="oc_victima">
		<label class="control-label" for="{$labelfor_oc_victima}">
			{$label hechosdelictivos2 oc_victima}
		</label>
		<div class="" >
			{$oc_victima_value}&nbsp;
		</div>
	</div>
{END oc_victima_fieldblock}
					{BEGIN relacion_vi_agre_fieldblock}
	<div class="{$fielddispclass_relacion_vi_agre} col-md-6 bs-viewcontrolgroup" data-fieldname="relacion_vi_agre">
		<label class="control-label" for="{$labelfor_relacion_vi_agre}">
			{$label hechosdelictivos2 relacion_vi_agre}
		</label>
		<div class="" >
			{$relacion_vi_agre_value}&nbsp;
		</div>
	</div>
{END relacion_vi_agre_fieldblock}
					{BEGIN edad_agresor_fieldblock}
	<div class="{$fielddispclass_edad_agresor} col-md-6 bs-viewcontrolgroup" data-fieldname="edad_agresor">
		<label class="control-label" for="{$labelfor_edad_agresor}">
			{$label hechosdelictivos2 edad_agresor}
		</label>
		<div class="" >
			{$edad_agresor_value}&nbsp;
		</div>
	</div>
{END edad_agresor_fieldblock}
					{BEGIN sexo__agresor_fieldblock}
	<div class="{$fielddispclass_sexo__agresor} col-md-6 bs-viewcontrolgroup" data-fieldname="sexo__agresor">
		<label class="control-label" for="{$labelfor_sexo__agresor}">
			{$label hechosdelictivos2 sexo__agresor}
		</label>
		<div class="" >
			{$sexo__agresor_value}&nbsp;
		</div>
	</div>
{END sexo__agresor_fieldblock}
					{BEGIN ocupa_agresor_fieldblock}
	<div class="{$fielddispclass_ocupa_agresor} col-md-6 bs-viewcontrolgroup" data-fieldname="ocupa_agresor">
		<label class="control-label" for="{$labelfor_ocupa_agresor}">
			{$label hechosdelictivos2 ocupa_agresor}
		</label>
		<div class="" >
			{$ocupa_agresor_value}&nbsp;
		</div>
	</div>
{END ocupa_agresor_fieldblock}
					{BEGIN movil_fieldblock}
	<div class="{$fielddispclass_movil} col-md-6 bs-viewcontrolgroup" data-fieldname="movil">
		<label class="control-label" for="{$labelfor_movil}">
			{$label hechosdelictivos2 movil}
		</label>
		<div class="" >
			{$movil_value}&nbsp;
		</div>
	</div>
{END movil_fieldblock}
					{BEGIN tipo_arma_fieldblock}
	<div class="{$fielddispclass_tipo_arma} col-md-6 bs-viewcontrolgroup" data-fieldname="tipo_arma">
		<label class="control-label" for="{$labelfor_tipo_arma}">
			{$label hechosdelictivos2 tipo_arma}
		</label>
		<div class="" >
			{$tipo_arma_value}&nbsp;
		</div>
	</div>
{END tipo_arma_fieldblock}
					{BEGIN canton_hecho_fieldblock}
	<div class="{$fielddispclass_canton_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="canton_hecho">
		<label class="control-label" for="{$labelfor_canton_hecho}">
			{$label hechosdelictivos2 canton_hecho}
		</label>
		<div class="" >
			{$canton_hecho_value}&nbsp;
		</div>
	</div>
{END canton_hecho_fieldblock}
					{BEGIN colonia_hecho_fieldblock}
	<div class="{$fielddispclass_colonia_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="colonia_hecho">
		<label class="control-label" for="{$labelfor_colonia_hecho}">
			{$label hechosdelictivos2 colonia_hecho}
		</label>
		<div class="" >
			{$colonia_hecho_value}&nbsp;
		</div>
	</div>
{END colonia_hecho_fieldblock}
					{BEGIN caserio_hecho_fieldblock}
	<div class="{$fielddispclass_caserio_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="caserio_hecho">
		<label class="control-label" for="{$labelfor_caserio_hecho}">
			{$label hechosdelictivos2 caserio_hecho}
		</label>
		<div class="" >
			{$caserio_hecho_value}&nbsp;
		</div>
	</div>
{END caserio_hecho_fieldblock}
					{BEGIN calle_hecho_fieldblock}
	<div class="{$fielddispclass_calle_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="calle_hecho">
		<label class="control-label" for="{$labelfor_calle_hecho}">
			{$label hechosdelictivos2 calle_hecho}
		</label>
		<div class="" >
			{$calle_hecho_value}&nbsp;
		</div>
	</div>
{END calle_hecho_fieldblock}
					{BEGIN avenida_hecho_fieldblock}
	<div class="{$fielddispclass_avenida_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="avenida_hecho">
		<label class="control-label" for="{$labelfor_avenida_hecho}">
			{$label hechosdelictivos2 avenida_hecho}
		</label>
		<div class="" >
			{$avenida_hecho_value}&nbsp;
		</div>
	</div>
{END avenida_hecho_fieldblock}
					{BEGIN casa_hecho_fieldblock}
	<div class="{$fielddispclass_casa_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="casa_hecho">
		<label class="control-label" for="{$labelfor_casa_hecho}">
			{$label hechosdelictivos2 casa_hecho}
		</label>
		<div class="" >
			{$casa_hecho_value}&nbsp;
		</div>
	</div>
{END casa_hecho_fieldblock}
					{BEGIN comu_hecho_fieldblock}
	<div class="{$fielddispclass_comu_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="comu_hecho">
		<label class="control-label" for="{$labelfor_comu_hecho}">
			{$label hechosdelictivos2 comu_hecho}
		</label>
		<div class="" >
			{$comu_hecho_value}&nbsp;
		</div>
	</div>
{END comu_hecho_fieldblock}
					{BEGIN barrio_hecho_fieldblock}
	<div class="{$fielddispclass_barrio_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="barrio_hecho">
		<label class="control-label" for="{$labelfor_barrio_hecho}">
			{$label hechosdelictivos2 barrio_hecho}
		</label>
		<div class="" >
			{$barrio_hecho_value}&nbsp;
		</div>
	</div>
{END barrio_hecho_fieldblock}
					{BEGIN comp_hecho_fieldblock}
	<div class="{$fielddispclass_comp_hecho} col-md-6 bs-viewcontrolgroup" data-fieldname="comp_hecho">
		<label class="control-label" for="{$labelfor_comp_hecho}">
			{$label hechosdelictivos2 comp_hecho}
		</label>
		<div class="" >
			{$comp_hecho_value}&nbsp;
		</div>
	</div>
{END comp_hecho_fieldblock}
					{BEGIN sector_ppd_fieldblock}
	<div class="{$fielddispclass_sector_ppd} col-md-6 bs-viewcontrolgroup" data-fieldname="sector_ppd">
		<label class="control-label" for="{$labelfor_sector_ppd}">
			{$label hechosdelictivos2 sector_ppd}
		</label>
		<div class="" >
			{$sector_ppd_value}&nbsp;
		</div>
	</div>
{END sector_ppd_fieldblock}
					{BEGIN tipo_fieldblock}
	<div class="{$fielddispclass_tipo} col-md-6 bs-viewcontrolgroup" data-fieldname="tipo">
		<label class="control-label" for="{$labelfor_tipo}">
			{$label hechosdelictivos2 tipo}
		</label>
		<div class="" >
			{$tipo_value}&nbsp;
		</div>
	</div>
{END tipo_fieldblock}
					{BEGIN nombre_fieldblock}
	<div class="{$fielddispclass_nombre} col-md-6 bs-viewcontrolgroup" data-fieldname="nombre">
		<label class="control-label" for="{$labelfor_nombre}">
			{$label hechosdelictivos2 nombre}
		</label>
		<div class="" >
			{$nombre_value}&nbsp;
		</div>
	</div>
{END nombre_fieldblock}
					{BEGIN x_fieldblock}
	<div class="{$fielddispclass_x} col-md-6 bs-viewcontrolgroup" data-fieldname="x">
		<label class="control-label" for="{$labelfor_x}">
			{$label hechosdelictivos2 x}
		</label>
		<div class="" >
			{$x_value}&nbsp;
		</div>
	</div>
{END x_fieldblock}
					{BEGIN y_fieldblock}
	<div class="{$fielddispclass_y} col-md-6 bs-viewcontrolgroup" data-fieldname="y">
		<label class="control-label" for="{$labelfor_y}">
			{$label hechosdelictivos2 y}
		</label>
		<div class="" >
			{$y_value}&nbsp;
		</div>
	</div>
{END y_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
