<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel homicidios_sv_2016_Report1 rprint}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}



<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}

</style>

<div id="grid_block{$id}" class="rnr-report-gridblock">
			{BEGIN grid_block}
<table {$report_print_hiddenattr} data-pageid="{$pageid}" data-brick="report_print" class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
<thead>
<tr class="rnr-toprow table-header style1">

<th>{$label homicidios_sv_2016_Report1 situacion}</th>
<th>{$label homicidios_sv_2016_Report1 hoja}</th>
<th>{$label homicidios_sv_2016_Report1 __homicidios}</th>
<th>{$label homicidios_sv_2016_Report1 __edad}</th>
<th>{$label homicidios_sv_2016_Report1 __relacion_e}</th>
<th>{$label homicidios_sv_2016_Report1 __sexo}</th>
<th>{$label homicidios_sv_2016_Report1 __relacionad}</th>
<th>{$label homicidios_sv_2016_Report1 __causa_prel}</th>
<th>{$label homicidios_sv_2016_Report1 __circunstan}</th>
<th>{$label homicidios_sv_2016_Report1 __movil}</th>
<th>{$label homicidios_sv_2016_Report1 __tipo_viole}</th>
<th>{$label homicidios_sv_2016_Report1 __relac_vict}</th>
<th>{$label homicidios_sv_2016_Report1 __victima_pa}</th>
<th>{$label homicidios_sv_2016_Report1 __segun}</th>
<th>{$label homicidios_sv_2016_Report1 __pandilla}</th>
<th>{$label homicidios_sv_2016_Report1 __ocupacion_}</th>
<th>{$label homicidios_sv_2016_Report1 __nacionalid}</th>
<th>{$label homicidios_sv_2016_Report1 __depto}</th>
<th>{$label homicidios_sv_2016_Report1 __municipio}</th>
<th>{$label homicidios_sv_2016_Report1 __canton}</th>
<th>{$label homicidios_sv_2016_Report1 __caserio}</th>
<th>{$label homicidios_sv_2016_Report1 __barrio}</th>
<th>{$label homicidios_sv_2016_Report1 __comunidad}</th>
<th>{$label homicidios_sv_2016_Report1 __reparto}</th>
<th>{$label homicidios_sv_2016_Report1 __colonia}</th>
<th>{$label homicidios_sv_2016_Report1 __no}</th>
<th>{$label homicidios_sv_2016_Report1 __calle}</th>
<th>{$label homicidios_sv_2016_Report1 __avenida}</th>
<th>{$label homicidios_sv_2016_Report1 __alameda}</th>
<th>{$label homicidios_sv_2016_Report1 __boulevard}</th>
<th>{$label homicidios_sv_2016_Report1 __pasaje}</th>
<th>{$label homicidios_sv_2016_Report1 __sector_spd}</th>
<th>{$label homicidios_sv_2016_Report1 __tipo_lugar}</th>
<th>{$label homicidios_sv_2016_Report1 __area}</th>
<th>{$label homicidios_sv_2016_Report1 __x}</th>
<th>{$label homicidios_sv_2016_Report1 __y}</th>
<th>{$label homicidios_sv_2016_Report1 __fecha_hech}</th>
<th>{$label homicidios_sv_2016_Report1 __dia}</th>
<th>{$label homicidios_sv_2016_Report1 __mes}</th>
<th>{$label homicidios_sv_2016_Report1 __hora_hecho}</th>
<th>{$label homicidios_sv_2016_Report1 __periodo}</th>
<th>{$label homicidios_sv_2016_Report1 __tipo_arma}</th>
<th>{$label homicidios_sv_2016_Report1 __especifica}</th>
<th>{$label homicidios_sv_2016_Report1 __calibre}</th>
<th>{$label homicidios_sv_2016_Report1 __tipo_delit}</th>
<th>{$label homicidios_sv_2016_Report1 __muertos}</th>
<th>{$label homicidios_sv_2016_Report1 __fecha_leva}</th>
<th>{$label homicidios_sv_2016_Report1 __hora_de_le}</th>
<th>{$label homicidios_sv_2016_Report1 __observacio}</th>
<th>{$label homicidios_sv_2016_Report1 __f50}</th>
<th>{$label homicidios_sv_2016_Report1 __numforma}</th>
<th>{$label homicidios_sv_2016_Report1 __edad1}</th>
<th>{$label homicidios_sv_2016_Report1 __sexo1}</th>
<th>{$label homicidios_sv_2016_Report1 __departamen}</th>
<th>{$label homicidios_sv_2016_Report1 __municipio_}</th>
<th>{$label homicidios_sv_2016_Report1 __canton1}</th>
<th>{$label homicidios_sv_2016_Report1 __caserio1}</th>
<th>{$label homicidios_sv_2016_Report1 __colonia1}</th>
<th>{$label homicidios_sv_2016_Report1 __fechahecho}</th>
<th>{$label homicidios_sv_2016_Report1 __hora}</th>
<th>{$label homicidios_sv_2016_Report1 __minutos}</th>
<th>{$label homicidios_sv_2016_Report1 __tipoarma}</th>
<th>{$label homicidios_sv_2016_Report1 __especifiqu}</th>
<th>{$label homicidios_sv_2016_Report1 __calificaci}</th>
<th>{$label homicidios_sv_2016_Report1 __fecha_de_l}</th>
<th>{$label homicidios_sv_2016_Report1 __departam_1}</th>
<th>{$label homicidios_sv_2016_Report1 __municipi_1}</th>
<th>{$label homicidios_sv_2016_Report1 __conciliaci}</th>
<th>{$label homicidios_sv_2016_Report1 __levantamie}</th>
<th>{$label homicidios_sv_2016_Report1 __profesi_n}</th>
<th>{$label homicidios_sv_2016_Report1 __tipo_halla}</th>
<th>{$label homicidios_sv_2016_Report1 __victimario}</th>
<th>{$label homicidios_sv_2016_Report1 __causa_pr_1}</th>
<th>{$label homicidios_sv_2016_Report1 __dpto}</th>
<th>{$label homicidios_sv_2016_Report1 __munic}</th>
<th>{$label homicidios_sv_2016_Report1 __cdpto_cmun}</th>
<th>{$label homicidios_sv_2016_Report1 __cab_dpto}</th>
<th>{$label homicidios_sv_2016_Report1 __cdpto}</th>
<th>{$label homicidios_sv_2016_Report1 __fid}</th>
<th>{$label homicidios_sv_2016_Report1 __area1}</th>
<th>{$label homicidios_sv_2016_Report1 __munic25k_}</th>
<th>{$label homicidios_sv_2016_Report1 __munic25k_i}</th>
<th>{$label homicidios_sv_2016_Report1 __poly_}</th>
<th>{$label homicidios_sv_2016_Report1 __subclass}</th>
<th>{$label homicidios_sv_2016_Report1 __subclass_}</th>
<th>{$label homicidios_sv_2016_Report1 __rings_ok}</th>
<th>{$label homicidios_sv_2016_Report1 __rings_nok}</th>
<th>{$label homicidios_sv_2016_Report1 __dpto1}</th>
<th>{$label homicidios_sv_2016_Report1 __munic1}</th>
<th>{$label homicidios_sv_2016_Report1 __cdpto_cmun1}</th>
<th>{$label homicidios_sv_2016_Report1 __cab_dpto1}</th>
<th>{$label homicidios_sv_2016_Report1 __cdpto1}</th>
<th>{$label homicidios_sv_2016_Report1 __acres}</th>
</tr>
</thead>
<tbody>
{BEGIN grid_row}
<!-------------------------------------  data ----------------------------------------->
{BEGIN row_data}
<tr class="rnr-row style1" {$rowattrs}>
	<td {$recordattrs}>{$situacion_value}</td>
	<td {$recordattrs}>{$hoja_value}</td>
	<td {$recordattrs}>{$__homicidios_value}</td>
	<td {$recordattrs}>{$__edad_value}</td>
	<td {$recordattrs}>{$__relacion_e_value}</td>
	<td {$recordattrs}>{$__sexo_value}</td>
	<td {$recordattrs}>{$__relacionad_value}</td>
	<td {$recordattrs}>{$__causa_prel_value}</td>
	<td {$recordattrs}>{$__circunstan_value}</td>
	<td {$recordattrs}>{$__movil_value}</td>
	<td {$recordattrs}>{$__tipo_viole_value}</td>
	<td {$recordattrs}>{$__relac_vict_value}</td>
	<td {$recordattrs}>{$__victima_pa_value}</td>
	<td {$recordattrs}>{$__segun_value}</td>
	<td {$recordattrs}>{$__pandilla_value}</td>
	<td {$recordattrs}>{$__ocupacion__value}</td>
	<td {$recordattrs}>{$__nacionalid_value}</td>
	<td {$recordattrs}>{$__depto_value}</td>
	<td {$recordattrs}>{$__municipio_value}</td>
	<td {$recordattrs}>{$__canton_value}</td>
	<td {$recordattrs}>{$__caserio_value}</td>
	<td {$recordattrs}>{$__barrio_value}</td>
	<td {$recordattrs}>{$__comunidad_value}</td>
	<td {$recordattrs}>{$__reparto_value}</td>
	<td {$recordattrs}>{$__colonia_value}</td>
	<td {$recordattrs}>{$__no_value}</td>
	<td {$recordattrs}>{$__calle_value}</td>
	<td {$recordattrs}>{$__avenida_value}</td>
	<td {$recordattrs}>{$__alameda_value}</td>
	<td {$recordattrs}>{$__boulevard_value}</td>
	<td {$recordattrs}>{$__pasaje_value}</td>
	<td {$recordattrs}>{$__sector_spd_value}</td>
	<td {$recordattrs}>{$__tipo_lugar_value}</td>
	<td {$recordattrs}>{$__area_value}</td>
	<td {$recordattrs}>{$__x_value}</td>
	<td {$recordattrs}>{$__y_value}</td>
	<td {$recordattrs}>{$__fecha_hech_value}</td>
	<td {$recordattrs}>{$__dia_value}</td>
	<td {$recordattrs}>{$__mes_value}</td>
	<td {$recordattrs}>{$__hora_hecho_value}</td>
	<td {$recordattrs}>{$__periodo_value}</td>
	<td {$recordattrs}>{$__tipo_arma_value}</td>
	<td {$recordattrs}>{$__especifica_value}</td>
	<td {$recordattrs}>{$__calibre_value}</td>
	<td {$recordattrs}>{$__tipo_delit_value}</td>
	<td {$recordattrs}>{$__muertos_value}</td>
	<td {$recordattrs}>{$__fecha_leva_value}</td>
	<td {$recordattrs}>{$__hora_de_le_value}</td>
	<td {$recordattrs}>{$__observacio_value}</td>
	<td {$recordattrs}>{$__f50_value}</td>
	<td {$recordattrs}>{$__numforma_value}</td>
	<td {$recordattrs}>{$__edad1_value}</td>
	<td {$recordattrs}>{$__sexo1_value}</td>
	<td {$recordattrs}>{$__departamen_value}</td>
	<td {$recordattrs}>{$__municipio__value}</td>
	<td {$recordattrs}>{$__canton1_value}</td>
	<td {$recordattrs}>{$__caserio1_value}</td>
	<td {$recordattrs}>{$__colonia1_value}</td>
	<td {$recordattrs}>{$__fechahecho_value}</td>
	<td {$recordattrs}>{$__hora_value}</td>
	<td {$recordattrs}>{$__minutos_value}</td>
	<td {$recordattrs}>{$__tipoarma_value}</td>
	<td {$recordattrs}>{$__especifiqu_value}</td>
	<td {$recordattrs}>{$__calificaci_value}</td>
	<td {$recordattrs}>{$__fecha_de_l_value}</td>
	<td {$recordattrs}>{$__departam_1_value}</td>
	<td {$recordattrs}>{$__municipi_1_value}</td>
	<td {$recordattrs}>{$__conciliaci_value}</td>
	<td {$recordattrs}>{$__levantamie_value}</td>
	<td {$recordattrs}>{$__profesi_n_value}</td>
	<td {$recordattrs}>{$__tipo_halla_value}</td>
	<td {$recordattrs}>{$__victimario_value}</td>
	<td {$recordattrs}>{$__causa_pr_1_value}</td>
	<td {$recordattrs}>{$__dpto_value}</td>
	<td {$recordattrs}>{$__munic_value}</td>
	<td {$recordattrs}>{$__cdpto_cmun_value}</td>
	<td {$recordattrs}>{$__cab_dpto_value}</td>
	<td {$recordattrs}>{$__cdpto_value}</td>
	<td {$recordattrs}>{$__fid_value}</td>
	<td {$recordattrs}>{$__area1_value}</td>
	<td {$recordattrs}>{$__munic25k__value}</td>
	<td {$recordattrs}>{$__munic25k_i_value}</td>
	<td {$recordattrs}>{$__poly__value}</td>
	<td {$recordattrs}>{$__subclass_value}</td>
	<td {$recordattrs}>{$__subclass__value}</td>
	<td {$recordattrs}>{$__rings_ok_value}</td>
	<td {$recordattrs}>{$__rings_nok_value}</td>
	<td {$recordattrs}>{$__dpto1_value}</td>
	<td {$recordattrs}>{$__munic1_value}</td>
	<td {$recordattrs}>{$__cdpto_cmun1_value}</td>
	<td {$recordattrs}>{$__cab_dpto1_value}</td>
	<td {$recordattrs}>{$__cdpto1_value}</td>
	<td {$recordattrs}>{$__acres_value}</td>
</tr>
{END row_data}

{END grid_row}
</tbody>
</table>
{END grid_block}
</div>





{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
