<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel homicidios_sv_2016_Report1 search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN situacion_fieldblock}		
	<div class="container {$fielddispclass_situacion}" data-fieldname="situacion">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 situacion}
			</div>
			<div class="col-md-2" >
				{$searchtype_situacion}
			</div>
			<div class="col-md-4" >
				{$situacion_editcontrol}
			</div>
			<div class="col-md-4" >
				{$situacion_editcontrol1}
			</div>
		</div>
	</div>
{END situacion_fieldblock}
	{BEGIN hoja_fieldblock}		
	<div class="container {$fielddispclass_hoja}" data-fieldname="hoja">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 hoja}
			</div>
			<div class="col-md-2" >
				{$searchtype_hoja}
			</div>
			<div class="col-md-4" >
				{$hoja_editcontrol}
			</div>
			<div class="col-md-4" >
				{$hoja_editcontrol1}
			</div>
		</div>
	</div>
{END hoja_fieldblock}
	{BEGIN __homicidios_fieldblock}		
	<div class="container {$fielddispclass___homicidios}" data-fieldname="__homicidios">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __homicidios}
			</div>
			<div class="col-md-2" >
				{$searchtype___homicidios}
			</div>
			<div class="col-md-4" >
				{$__homicidios_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__homicidios_editcontrol1}
			</div>
		</div>
	</div>
{END __homicidios_fieldblock}
	{BEGIN __edad_fieldblock}		
	<div class="container {$fielddispclass___edad}" data-fieldname="__edad">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __edad}
			</div>
			<div class="col-md-2" >
				{$searchtype___edad}
			</div>
			<div class="col-md-4" >
				{$__edad_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__edad_editcontrol1}
			</div>
		</div>
	</div>
{END __edad_fieldblock}
	{BEGIN __relacion_e_fieldblock}		
	<div class="container {$fielddispclass___relacion_e}" data-fieldname="__relacion_e">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __relacion_e}
			</div>
			<div class="col-md-2" >
				{$searchtype___relacion_e}
			</div>
			<div class="col-md-4" >
				{$__relacion_e_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__relacion_e_editcontrol1}
			</div>
		</div>
	</div>
{END __relacion_e_fieldblock}
	{BEGIN __sexo_fieldblock}		
	<div class="container {$fielddispclass___sexo}" data-fieldname="__sexo">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __sexo}
			</div>
			<div class="col-md-2" >
				{$searchtype___sexo}
			</div>
			<div class="col-md-4" >
				{$__sexo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__sexo_editcontrol1}
			</div>
		</div>
	</div>
{END __sexo_fieldblock}
	{BEGIN __relacionad_fieldblock}		
	<div class="container {$fielddispclass___relacionad}" data-fieldname="__relacionad">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __relacionad}
			</div>
			<div class="col-md-2" >
				{$searchtype___relacionad}
			</div>
			<div class="col-md-4" >
				{$__relacionad_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__relacionad_editcontrol1}
			</div>
		</div>
	</div>
{END __relacionad_fieldblock}
	{BEGIN __causa_prel_fieldblock}		
	<div class="container {$fielddispclass___causa_prel}" data-fieldname="__causa_prel">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __causa_prel}
			</div>
			<div class="col-md-2" >
				{$searchtype___causa_prel}
			</div>
			<div class="col-md-4" >
				{$__causa_prel_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__causa_prel_editcontrol1}
			</div>
		</div>
	</div>
{END __causa_prel_fieldblock}
	{BEGIN __circunstan_fieldblock}		
	<div class="container {$fielddispclass___circunstan}" data-fieldname="__circunstan">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __circunstan}
			</div>
			<div class="col-md-2" >
				{$searchtype___circunstan}
			</div>
			<div class="col-md-4" >
				{$__circunstan_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__circunstan_editcontrol1}
			</div>
		</div>
	</div>
{END __circunstan_fieldblock}
	{BEGIN __movil_fieldblock}		
	<div class="container {$fielddispclass___movil}" data-fieldname="__movil">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __movil}
			</div>
			<div class="col-md-2" >
				{$searchtype___movil}
			</div>
			<div class="col-md-4" >
				{$__movil_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__movil_editcontrol1}
			</div>
		</div>
	</div>
{END __movil_fieldblock}
	{BEGIN __tipo_viole_fieldblock}		
	<div class="container {$fielddispclass___tipo_viole}" data-fieldname="__tipo_viole">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipo_viole}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipo_viole}
			</div>
			<div class="col-md-4" >
				{$__tipo_viole_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipo_viole_editcontrol1}
			</div>
		</div>
	</div>
{END __tipo_viole_fieldblock}
	{BEGIN __relac_vict_fieldblock}		
	<div class="container {$fielddispclass___relac_vict}" data-fieldname="__relac_vict">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __relac_vict}
			</div>
			<div class="col-md-2" >
				{$searchtype___relac_vict}
			</div>
			<div class="col-md-4" >
				{$__relac_vict_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__relac_vict_editcontrol1}
			</div>
		</div>
	</div>
{END __relac_vict_fieldblock}
	{BEGIN __victima_pa_fieldblock}		
	<div class="container {$fielddispclass___victima_pa}" data-fieldname="__victima_pa">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __victima_pa}
			</div>
			<div class="col-md-2" >
				{$searchtype___victima_pa}
			</div>
			<div class="col-md-4" >
				{$__victima_pa_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__victima_pa_editcontrol1}
			</div>
		</div>
	</div>
{END __victima_pa_fieldblock}
	{BEGIN __segun_fieldblock}		
	<div class="container {$fielddispclass___segun}" data-fieldname="__segun">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __segun}
			</div>
			<div class="col-md-2" >
				{$searchtype___segun}
			</div>
			<div class="col-md-4" >
				{$__segun_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__segun_editcontrol1}
			</div>
		</div>
	</div>
{END __segun_fieldblock}
	{BEGIN __pandilla_fieldblock}		
	<div class="container {$fielddispclass___pandilla}" data-fieldname="__pandilla">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __pandilla}
			</div>
			<div class="col-md-2" >
				{$searchtype___pandilla}
			</div>
			<div class="col-md-4" >
				{$__pandilla_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__pandilla_editcontrol1}
			</div>
		</div>
	</div>
{END __pandilla_fieldblock}
	{BEGIN __ocupacion__fieldblock}		
	<div class="container {$fielddispclass___ocupacion_}" data-fieldname="__ocupacion_">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __ocupacion_}
			</div>
			<div class="col-md-2" >
				{$searchtype___ocupacion_}
			</div>
			<div class="col-md-4" >
				{$__ocupacion__editcontrol}
			</div>
			<div class="col-md-4" >
				{$__ocupacion__editcontrol1}
			</div>
		</div>
	</div>
{END __ocupacion__fieldblock}
	{BEGIN __nacionalid_fieldblock}		
	<div class="container {$fielddispclass___nacionalid}" data-fieldname="__nacionalid">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __nacionalid}
			</div>
			<div class="col-md-2" >
				{$searchtype___nacionalid}
			</div>
			<div class="col-md-4" >
				{$__nacionalid_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__nacionalid_editcontrol1}
			</div>
		</div>
	</div>
{END __nacionalid_fieldblock}
	{BEGIN __depto_fieldblock}		
	<div class="container {$fielddispclass___depto}" data-fieldname="__depto">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __depto}
			</div>
			<div class="col-md-2" >
				{$searchtype___depto}
			</div>
			<div class="col-md-4" >
				{$__depto_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__depto_editcontrol1}
			</div>
		</div>
	</div>
{END __depto_fieldblock}
	{BEGIN __municipio_fieldblock}		
	<div class="container {$fielddispclass___municipio}" data-fieldname="__municipio">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __municipio}
			</div>
			<div class="col-md-2" >
				{$searchtype___municipio}
			</div>
			<div class="col-md-4" >
				{$__municipio_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__municipio_editcontrol1}
			</div>
		</div>
	</div>
{END __municipio_fieldblock}
	{BEGIN __canton_fieldblock}		
	<div class="container {$fielddispclass___canton}" data-fieldname="__canton">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __canton}
			</div>
			<div class="col-md-2" >
				{$searchtype___canton}
			</div>
			<div class="col-md-4" >
				{$__canton_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__canton_editcontrol1}
			</div>
		</div>
	</div>
{END __canton_fieldblock}
	{BEGIN __caserio_fieldblock}		
	<div class="container {$fielddispclass___caserio}" data-fieldname="__caserio">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __caserio}
			</div>
			<div class="col-md-2" >
				{$searchtype___caserio}
			</div>
			<div class="col-md-4" >
				{$__caserio_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__caserio_editcontrol1}
			</div>
		</div>
	</div>
{END __caserio_fieldblock}
	{BEGIN __barrio_fieldblock}		
	<div class="container {$fielddispclass___barrio}" data-fieldname="__barrio">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __barrio}
			</div>
			<div class="col-md-2" >
				{$searchtype___barrio}
			</div>
			<div class="col-md-4" >
				{$__barrio_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__barrio_editcontrol1}
			</div>
		</div>
	</div>
{END __barrio_fieldblock}
	{BEGIN __comunidad_fieldblock}		
	<div class="container {$fielddispclass___comunidad}" data-fieldname="__comunidad">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __comunidad}
			</div>
			<div class="col-md-2" >
				{$searchtype___comunidad}
			</div>
			<div class="col-md-4" >
				{$__comunidad_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__comunidad_editcontrol1}
			</div>
		</div>
	</div>
{END __comunidad_fieldblock}
	{BEGIN __reparto_fieldblock}		
	<div class="container {$fielddispclass___reparto}" data-fieldname="__reparto">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __reparto}
			</div>
			<div class="col-md-2" >
				{$searchtype___reparto}
			</div>
			<div class="col-md-4" >
				{$__reparto_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__reparto_editcontrol1}
			</div>
		</div>
	</div>
{END __reparto_fieldblock}
	{BEGIN __colonia_fieldblock}		
	<div class="container {$fielddispclass___colonia}" data-fieldname="__colonia">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __colonia}
			</div>
			<div class="col-md-2" >
				{$searchtype___colonia}
			</div>
			<div class="col-md-4" >
				{$__colonia_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__colonia_editcontrol1}
			</div>
		</div>
	</div>
{END __colonia_fieldblock}
	{BEGIN __no_fieldblock}		
	<div class="container {$fielddispclass___no}" data-fieldname="__no">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __no}
			</div>
			<div class="col-md-2" >
				{$searchtype___no}
			</div>
			<div class="col-md-4" >
				{$__no_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__no_editcontrol1}
			</div>
		</div>
	</div>
{END __no_fieldblock}
	{BEGIN __calle_fieldblock}		
	<div class="container {$fielddispclass___calle}" data-fieldname="__calle">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __calle}
			</div>
			<div class="col-md-2" >
				{$searchtype___calle}
			</div>
			<div class="col-md-4" >
				{$__calle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__calle_editcontrol1}
			</div>
		</div>
	</div>
{END __calle_fieldblock}
	{BEGIN __avenida_fieldblock}		
	<div class="container {$fielddispclass___avenida}" data-fieldname="__avenida">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __avenida}
			</div>
			<div class="col-md-2" >
				{$searchtype___avenida}
			</div>
			<div class="col-md-4" >
				{$__avenida_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__avenida_editcontrol1}
			</div>
		</div>
	</div>
{END __avenida_fieldblock}
	{BEGIN __alameda_fieldblock}		
	<div class="container {$fielddispclass___alameda}" data-fieldname="__alameda">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __alameda}
			</div>
			<div class="col-md-2" >
				{$searchtype___alameda}
			</div>
			<div class="col-md-4" >
				{$__alameda_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__alameda_editcontrol1}
			</div>
		</div>
	</div>
{END __alameda_fieldblock}
	{BEGIN __boulevard_fieldblock}		
	<div class="container {$fielddispclass___boulevard}" data-fieldname="__boulevard">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __boulevard}
			</div>
			<div class="col-md-2" >
				{$searchtype___boulevard}
			</div>
			<div class="col-md-4" >
				{$__boulevard_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__boulevard_editcontrol1}
			</div>
		</div>
	</div>
{END __boulevard_fieldblock}
	{BEGIN __pasaje_fieldblock}		
	<div class="container {$fielddispclass___pasaje}" data-fieldname="__pasaje">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __pasaje}
			</div>
			<div class="col-md-2" >
				{$searchtype___pasaje}
			</div>
			<div class="col-md-4" >
				{$__pasaje_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__pasaje_editcontrol1}
			</div>
		</div>
	</div>
{END __pasaje_fieldblock}
	{BEGIN __sector_spd_fieldblock}		
	<div class="container {$fielddispclass___sector_spd}" data-fieldname="__sector_spd">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __sector_spd}
			</div>
			<div class="col-md-2" >
				{$searchtype___sector_spd}
			</div>
			<div class="col-md-4" >
				{$__sector_spd_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__sector_spd_editcontrol1}
			</div>
		</div>
	</div>
{END __sector_spd_fieldblock}
	{BEGIN __tipo_lugar_fieldblock}		
	<div class="container {$fielddispclass___tipo_lugar}" data-fieldname="__tipo_lugar">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipo_lugar}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipo_lugar}
			</div>
			<div class="col-md-4" >
				{$__tipo_lugar_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipo_lugar_editcontrol1}
			</div>
		</div>
	</div>
{END __tipo_lugar_fieldblock}
	{BEGIN __area_fieldblock}		
	<div class="container {$fielddispclass___area}" data-fieldname="__area">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __area}
			</div>
			<div class="col-md-2" >
				{$searchtype___area}
			</div>
			<div class="col-md-4" >
				{$__area_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__area_editcontrol1}
			</div>
		</div>
	</div>
{END __area_fieldblock}
	{BEGIN __x_fieldblock}		
	<div class="container {$fielddispclass___x}" data-fieldname="__x">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __x}
			</div>
			<div class="col-md-2" >
				{$searchtype___x}
			</div>
			<div class="col-md-4" >
				{$__x_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__x_editcontrol1}
			</div>
		</div>
	</div>
{END __x_fieldblock}
	{BEGIN __y_fieldblock}		
	<div class="container {$fielddispclass___y}" data-fieldname="__y">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __y}
			</div>
			<div class="col-md-2" >
				{$searchtype___y}
			</div>
			<div class="col-md-4" >
				{$__y_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__y_editcontrol1}
			</div>
		</div>
	</div>
{END __y_fieldblock}
	{BEGIN __fecha_hech_fieldblock}		
	<div class="container {$fielddispclass___fecha_hech}" data-fieldname="__fecha_hech">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __fecha_hech}
			</div>
			<div class="col-md-2" >
				{$searchtype___fecha_hech}
			</div>
			<div class="col-md-4" >
				{$__fecha_hech_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__fecha_hech_editcontrol1}
			</div>
		</div>
	</div>
{END __fecha_hech_fieldblock}
	{BEGIN __dia_fieldblock}		
	<div class="container {$fielddispclass___dia}" data-fieldname="__dia">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __dia}
			</div>
			<div class="col-md-2" >
				{$searchtype___dia}
			</div>
			<div class="col-md-4" >
				{$__dia_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__dia_editcontrol1}
			</div>
		</div>
	</div>
{END __dia_fieldblock}
	{BEGIN __mes_fieldblock}		
	<div class="container {$fielddispclass___mes}" data-fieldname="__mes">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __mes}
			</div>
			<div class="col-md-2" >
				{$searchtype___mes}
			</div>
			<div class="col-md-4" >
				{$__mes_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__mes_editcontrol1}
			</div>
		</div>
	</div>
{END __mes_fieldblock}
	{BEGIN __hora_hecho_fieldblock}		
	<div class="container {$fielddispclass___hora_hecho}" data-fieldname="__hora_hecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __hora_hecho}
			</div>
			<div class="col-md-2" >
				{$searchtype___hora_hecho}
			</div>
			<div class="col-md-4" >
				{$__hora_hecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__hora_hecho_editcontrol1}
			</div>
		</div>
	</div>
{END __hora_hecho_fieldblock}
	{BEGIN __periodo_fieldblock}		
	<div class="container {$fielddispclass___periodo}" data-fieldname="__periodo">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __periodo}
			</div>
			<div class="col-md-2" >
				{$searchtype___periodo}
			</div>
			<div class="col-md-4" >
				{$__periodo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__periodo_editcontrol1}
			</div>
		</div>
	</div>
{END __periodo_fieldblock}
	{BEGIN __tipo_arma_fieldblock}		
	<div class="container {$fielddispclass___tipo_arma}" data-fieldname="__tipo_arma">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipo_arma}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipo_arma}
			</div>
			<div class="col-md-4" >
				{$__tipo_arma_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipo_arma_editcontrol1}
			</div>
		</div>
	</div>
{END __tipo_arma_fieldblock}
	{BEGIN __especifica_fieldblock}		
	<div class="container {$fielddispclass___especifica}" data-fieldname="__especifica">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __especifica}
			</div>
			<div class="col-md-2" >
				{$searchtype___especifica}
			</div>
			<div class="col-md-4" >
				{$__especifica_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__especifica_editcontrol1}
			</div>
		</div>
	</div>
{END __especifica_fieldblock}
	{BEGIN __calibre_fieldblock}		
	<div class="container {$fielddispclass___calibre}" data-fieldname="__calibre">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __calibre}
			</div>
			<div class="col-md-2" >
				{$searchtype___calibre}
			</div>
			<div class="col-md-4" >
				{$__calibre_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__calibre_editcontrol1}
			</div>
		</div>
	</div>
{END __calibre_fieldblock}
	{BEGIN __tipo_delit_fieldblock}		
	<div class="container {$fielddispclass___tipo_delit}" data-fieldname="__tipo_delit">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipo_delit}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipo_delit}
			</div>
			<div class="col-md-4" >
				{$__tipo_delit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipo_delit_editcontrol1}
			</div>
		</div>
	</div>
{END __tipo_delit_fieldblock}
	{BEGIN __muertos_fieldblock}		
	<div class="container {$fielddispclass___muertos}" data-fieldname="__muertos">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __muertos}
			</div>
			<div class="col-md-2" >
				{$searchtype___muertos}
			</div>
			<div class="col-md-4" >
				{$__muertos_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__muertos_editcontrol1}
			</div>
		</div>
	</div>
{END __muertos_fieldblock}
	{BEGIN __fecha_leva_fieldblock}		
	<div class="container {$fielddispclass___fecha_leva}" data-fieldname="__fecha_leva">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __fecha_leva}
			</div>
			<div class="col-md-2" >
				{$searchtype___fecha_leva}
			</div>
			<div class="col-md-4" >
				{$__fecha_leva_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__fecha_leva_editcontrol1}
			</div>
		</div>
	</div>
{END __fecha_leva_fieldblock}
	{BEGIN __hora_de_le_fieldblock}		
	<div class="container {$fielddispclass___hora_de_le}" data-fieldname="__hora_de_le">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __hora_de_le}
			</div>
			<div class="col-md-2" >
				{$searchtype___hora_de_le}
			</div>
			<div class="col-md-4" >
				{$__hora_de_le_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__hora_de_le_editcontrol1}
			</div>
		</div>
	</div>
{END __hora_de_le_fieldblock}
	{BEGIN __observacio_fieldblock}		
	<div class="container {$fielddispclass___observacio}" data-fieldname="__observacio">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __observacio}
			</div>
			<div class="col-md-2" >
				{$searchtype___observacio}
			</div>
			<div class="col-md-4" >
				{$__observacio_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__observacio_editcontrol1}
			</div>
		</div>
	</div>
{END __observacio_fieldblock}
	{BEGIN __f50_fieldblock}		
	<div class="container {$fielddispclass___f50}" data-fieldname="__f50">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __f50}
			</div>
			<div class="col-md-2" >
				{$searchtype___f50}
			</div>
			<div class="col-md-4" >
				{$__f50_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__f50_editcontrol1}
			</div>
		</div>
	</div>
{END __f50_fieldblock}
	{BEGIN __numforma_fieldblock}		
	<div class="container {$fielddispclass___numforma}" data-fieldname="__numforma">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __numforma}
			</div>
			<div class="col-md-2" >
				{$searchtype___numforma}
			</div>
			<div class="col-md-4" >
				{$__numforma_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__numforma_editcontrol1}
			</div>
		</div>
	</div>
{END __numforma_fieldblock}
	{BEGIN __edad1_fieldblock}		
	<div class="container {$fielddispclass___edad1}" data-fieldname="__edad1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __edad1}
			</div>
			<div class="col-md-2" >
				{$searchtype___edad1}
			</div>
			<div class="col-md-4" >
				{$__edad1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__edad1_editcontrol1}
			</div>
		</div>
	</div>
{END __edad1_fieldblock}
	{BEGIN __sexo1_fieldblock}		
	<div class="container {$fielddispclass___sexo1}" data-fieldname="__sexo1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __sexo1}
			</div>
			<div class="col-md-2" >
				{$searchtype___sexo1}
			</div>
			<div class="col-md-4" >
				{$__sexo1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__sexo1_editcontrol1}
			</div>
		</div>
	</div>
{END __sexo1_fieldblock}
	{BEGIN __departamen_fieldblock}		
	<div class="container {$fielddispclass___departamen}" data-fieldname="__departamen">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __departamen}
			</div>
			<div class="col-md-2" >
				{$searchtype___departamen}
			</div>
			<div class="col-md-4" >
				{$__departamen_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__departamen_editcontrol1}
			</div>
		</div>
	</div>
{END __departamen_fieldblock}
	{BEGIN __municipio__fieldblock}		
	<div class="container {$fielddispclass___municipio_}" data-fieldname="__municipio_">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __municipio_}
			</div>
			<div class="col-md-2" >
				{$searchtype___municipio_}
			</div>
			<div class="col-md-4" >
				{$__municipio__editcontrol}
			</div>
			<div class="col-md-4" >
				{$__municipio__editcontrol1}
			</div>
		</div>
	</div>
{END __municipio__fieldblock}
	{BEGIN __canton1_fieldblock}		
	<div class="container {$fielddispclass___canton1}" data-fieldname="__canton1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __canton1}
			</div>
			<div class="col-md-2" >
				{$searchtype___canton1}
			</div>
			<div class="col-md-4" >
				{$__canton1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__canton1_editcontrol1}
			</div>
		</div>
	</div>
{END __canton1_fieldblock}
	{BEGIN __caserio1_fieldblock}		
	<div class="container {$fielddispclass___caserio1}" data-fieldname="__caserio1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __caserio1}
			</div>
			<div class="col-md-2" >
				{$searchtype___caserio1}
			</div>
			<div class="col-md-4" >
				{$__caserio1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__caserio1_editcontrol1}
			</div>
		</div>
	</div>
{END __caserio1_fieldblock}
	{BEGIN __colonia1_fieldblock}		
	<div class="container {$fielddispclass___colonia1}" data-fieldname="__colonia1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __colonia1}
			</div>
			<div class="col-md-2" >
				{$searchtype___colonia1}
			</div>
			<div class="col-md-4" >
				{$__colonia1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__colonia1_editcontrol1}
			</div>
		</div>
	</div>
{END __colonia1_fieldblock}
	{BEGIN __fechahecho_fieldblock}		
	<div class="container {$fielddispclass___fechahecho}" data-fieldname="__fechahecho">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __fechahecho}
			</div>
			<div class="col-md-2" >
				{$searchtype___fechahecho}
			</div>
			<div class="col-md-4" >
				{$__fechahecho_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__fechahecho_editcontrol1}
			</div>
		</div>
	</div>
{END __fechahecho_fieldblock}
	{BEGIN __hora_fieldblock}		
	<div class="container {$fielddispclass___hora}" data-fieldname="__hora">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __hora}
			</div>
			<div class="col-md-2" >
				{$searchtype___hora}
			</div>
			<div class="col-md-4" >
				{$__hora_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__hora_editcontrol1}
			</div>
		</div>
	</div>
{END __hora_fieldblock}
	{BEGIN __minutos_fieldblock}		
	<div class="container {$fielddispclass___minutos}" data-fieldname="__minutos">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __minutos}
			</div>
			<div class="col-md-2" >
				{$searchtype___minutos}
			</div>
			<div class="col-md-4" >
				{$__minutos_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__minutos_editcontrol1}
			</div>
		</div>
	</div>
{END __minutos_fieldblock}
	{BEGIN __tipoarma_fieldblock}		
	<div class="container {$fielddispclass___tipoarma}" data-fieldname="__tipoarma">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipoarma}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipoarma}
			</div>
			<div class="col-md-4" >
				{$__tipoarma_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipoarma_editcontrol1}
			</div>
		</div>
	</div>
{END __tipoarma_fieldblock}
	{BEGIN __especifiqu_fieldblock}		
	<div class="container {$fielddispclass___especifiqu}" data-fieldname="__especifiqu">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __especifiqu}
			</div>
			<div class="col-md-2" >
				{$searchtype___especifiqu}
			</div>
			<div class="col-md-4" >
				{$__especifiqu_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__especifiqu_editcontrol1}
			</div>
		</div>
	</div>
{END __especifiqu_fieldblock}
	{BEGIN __calificaci_fieldblock}		
	<div class="container {$fielddispclass___calificaci}" data-fieldname="__calificaci">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __calificaci}
			</div>
			<div class="col-md-2" >
				{$searchtype___calificaci}
			</div>
			<div class="col-md-4" >
				{$__calificaci_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__calificaci_editcontrol1}
			</div>
		</div>
	</div>
{END __calificaci_fieldblock}
	{BEGIN __fecha_de_l_fieldblock}		
	<div class="container {$fielddispclass___fecha_de_l}" data-fieldname="__fecha_de_l">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __fecha_de_l}
			</div>
			<div class="col-md-2" >
				{$searchtype___fecha_de_l}
			</div>
			<div class="col-md-4" >
				{$__fecha_de_l_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__fecha_de_l_editcontrol1}
			</div>
		</div>
	</div>
{END __fecha_de_l_fieldblock}
	{BEGIN __departam_1_fieldblock}		
	<div class="container {$fielddispclass___departam_1}" data-fieldname="__departam_1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __departam_1}
			</div>
			<div class="col-md-2" >
				{$searchtype___departam_1}
			</div>
			<div class="col-md-4" >
				{$__departam_1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__departam_1_editcontrol1}
			</div>
		</div>
	</div>
{END __departam_1_fieldblock}
	{BEGIN __municipi_1_fieldblock}		
	<div class="container {$fielddispclass___municipi_1}" data-fieldname="__municipi_1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __municipi_1}
			</div>
			<div class="col-md-2" >
				{$searchtype___municipi_1}
			</div>
			<div class="col-md-4" >
				{$__municipi_1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__municipi_1_editcontrol1}
			</div>
		</div>
	</div>
{END __municipi_1_fieldblock}
	{BEGIN __conciliaci_fieldblock}		
	<div class="container {$fielddispclass___conciliaci}" data-fieldname="__conciliaci">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __conciliaci}
			</div>
			<div class="col-md-2" >
				{$searchtype___conciliaci}
			</div>
			<div class="col-md-4" >
				{$__conciliaci_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__conciliaci_editcontrol1}
			</div>
		</div>
	</div>
{END __conciliaci_fieldblock}
	{BEGIN __levantamie_fieldblock}		
	<div class="container {$fielddispclass___levantamie}" data-fieldname="__levantamie">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __levantamie}
			</div>
			<div class="col-md-2" >
				{$searchtype___levantamie}
			</div>
			<div class="col-md-4" >
				{$__levantamie_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__levantamie_editcontrol1}
			</div>
		</div>
	</div>
{END __levantamie_fieldblock}
	{BEGIN __profesi_n_fieldblock}		
	<div class="container {$fielddispclass___profesi_n}" data-fieldname="__profesi_n">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __profesi_n}
			</div>
			<div class="col-md-2" >
				{$searchtype___profesi_n}
			</div>
			<div class="col-md-4" >
				{$__profesi_n_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__profesi_n_editcontrol1}
			</div>
		</div>
	</div>
{END __profesi_n_fieldblock}
	{BEGIN __tipo_halla_fieldblock}		
	<div class="container {$fielddispclass___tipo_halla}" data-fieldname="__tipo_halla">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __tipo_halla}
			</div>
			<div class="col-md-2" >
				{$searchtype___tipo_halla}
			</div>
			<div class="col-md-4" >
				{$__tipo_halla_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__tipo_halla_editcontrol1}
			</div>
		</div>
	</div>
{END __tipo_halla_fieldblock}
	{BEGIN __victimario_fieldblock}		
	<div class="container {$fielddispclass___victimario}" data-fieldname="__victimario">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __victimario}
			</div>
			<div class="col-md-2" >
				{$searchtype___victimario}
			</div>
			<div class="col-md-4" >
				{$__victimario_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__victimario_editcontrol1}
			</div>
		</div>
	</div>
{END __victimario_fieldblock}
	{BEGIN __causa_pr_1_fieldblock}		
	<div class="container {$fielddispclass___causa_pr_1}" data-fieldname="__causa_pr_1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __causa_pr_1}
			</div>
			<div class="col-md-2" >
				{$searchtype___causa_pr_1}
			</div>
			<div class="col-md-4" >
				{$__causa_pr_1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__causa_pr_1_editcontrol1}
			</div>
		</div>
	</div>
{END __causa_pr_1_fieldblock}
	{BEGIN __dpto_fieldblock}		
	<div class="container {$fielddispclass___dpto}" data-fieldname="__dpto">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __dpto}
			</div>
			<div class="col-md-2" >
				{$searchtype___dpto}
			</div>
			<div class="col-md-4" >
				{$__dpto_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__dpto_editcontrol1}
			</div>
		</div>
	</div>
{END __dpto_fieldblock}
	{BEGIN __munic_fieldblock}		
	<div class="container {$fielddispclass___munic}" data-fieldname="__munic">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __munic}
			</div>
			<div class="col-md-2" >
				{$searchtype___munic}
			</div>
			<div class="col-md-4" >
				{$__munic_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__munic_editcontrol1}
			</div>
		</div>
	</div>
{END __munic_fieldblock}
	{BEGIN __cdpto_cmun_fieldblock}		
	<div class="container {$fielddispclass___cdpto_cmun}" data-fieldname="__cdpto_cmun">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cdpto_cmun}
			</div>
			<div class="col-md-2" >
				{$searchtype___cdpto_cmun}
			</div>
			<div class="col-md-4" >
				{$__cdpto_cmun_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cdpto_cmun_editcontrol1}
			</div>
		</div>
	</div>
{END __cdpto_cmun_fieldblock}
	{BEGIN __cab_dpto_fieldblock}		
	<div class="container {$fielddispclass___cab_dpto}" data-fieldname="__cab_dpto">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cab_dpto}
			</div>
			<div class="col-md-2" >
				{$searchtype___cab_dpto}
			</div>
			<div class="col-md-4" >
				{$__cab_dpto_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cab_dpto_editcontrol1}
			</div>
		</div>
	</div>
{END __cab_dpto_fieldblock}
	{BEGIN __cdpto_fieldblock}		
	<div class="container {$fielddispclass___cdpto}" data-fieldname="__cdpto">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cdpto}
			</div>
			<div class="col-md-2" >
				{$searchtype___cdpto}
			</div>
			<div class="col-md-4" >
				{$__cdpto_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cdpto_editcontrol1}
			</div>
		</div>
	</div>
{END __cdpto_fieldblock}
	{BEGIN __fid_fieldblock}		
	<div class="container {$fielddispclass___fid}" data-fieldname="__fid">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __fid}
			</div>
			<div class="col-md-2" >
				{$searchtype___fid}
			</div>
			<div class="col-md-4" >
				{$__fid_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__fid_editcontrol1}
			</div>
		</div>
	</div>
{END __fid_fieldblock}
	{BEGIN __area1_fieldblock}		
	<div class="container {$fielddispclass___area1}" data-fieldname="__area1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __area1}
			</div>
			<div class="col-md-2" >
				{$searchtype___area1}
			</div>
			<div class="col-md-4" >
				{$__area1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__area1_editcontrol1}
			</div>
		</div>
	</div>
{END __area1_fieldblock}
	{BEGIN __munic25k__fieldblock}		
	<div class="container {$fielddispclass___munic25k_}" data-fieldname="__munic25k_">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __munic25k_}
			</div>
			<div class="col-md-2" >
				{$searchtype___munic25k_}
			</div>
			<div class="col-md-4" >
				{$__munic25k__editcontrol}
			</div>
			<div class="col-md-4" >
				{$__munic25k__editcontrol1}
			</div>
		</div>
	</div>
{END __munic25k__fieldblock}
	{BEGIN __munic25k_i_fieldblock}		
	<div class="container {$fielddispclass___munic25k_i}" data-fieldname="__munic25k_i">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __munic25k_i}
			</div>
			<div class="col-md-2" >
				{$searchtype___munic25k_i}
			</div>
			<div class="col-md-4" >
				{$__munic25k_i_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__munic25k_i_editcontrol1}
			</div>
		</div>
	</div>
{END __munic25k_i_fieldblock}
	{BEGIN __poly__fieldblock}		
	<div class="container {$fielddispclass___poly_}" data-fieldname="__poly_">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __poly_}
			</div>
			<div class="col-md-2" >
				{$searchtype___poly_}
			</div>
			<div class="col-md-4" >
				{$__poly__editcontrol}
			</div>
			<div class="col-md-4" >
				{$__poly__editcontrol1}
			</div>
		</div>
	</div>
{END __poly__fieldblock}
	{BEGIN __subclass_fieldblock}		
	<div class="container {$fielddispclass___subclass}" data-fieldname="__subclass">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __subclass}
			</div>
			<div class="col-md-2" >
				{$searchtype___subclass}
			</div>
			<div class="col-md-4" >
				{$__subclass_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__subclass_editcontrol1}
			</div>
		</div>
	</div>
{END __subclass_fieldblock}
	{BEGIN __subclass__fieldblock}		
	<div class="container {$fielddispclass___subclass_}" data-fieldname="__subclass_">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __subclass_}
			</div>
			<div class="col-md-2" >
				{$searchtype___subclass_}
			</div>
			<div class="col-md-4" >
				{$__subclass__editcontrol}
			</div>
			<div class="col-md-4" >
				{$__subclass__editcontrol1}
			</div>
		</div>
	</div>
{END __subclass__fieldblock}
	{BEGIN __rings_ok_fieldblock}		
	<div class="container {$fielddispclass___rings_ok}" data-fieldname="__rings_ok">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __rings_ok}
			</div>
			<div class="col-md-2" >
				{$searchtype___rings_ok}
			</div>
			<div class="col-md-4" >
				{$__rings_ok_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__rings_ok_editcontrol1}
			</div>
		</div>
	</div>
{END __rings_ok_fieldblock}
	{BEGIN __rings_nok_fieldblock}		
	<div class="container {$fielddispclass___rings_nok}" data-fieldname="__rings_nok">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __rings_nok}
			</div>
			<div class="col-md-2" >
				{$searchtype___rings_nok}
			</div>
			<div class="col-md-4" >
				{$__rings_nok_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__rings_nok_editcontrol1}
			</div>
		</div>
	</div>
{END __rings_nok_fieldblock}
	{BEGIN __dpto1_fieldblock}		
	<div class="container {$fielddispclass___dpto1}" data-fieldname="__dpto1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __dpto1}
			</div>
			<div class="col-md-2" >
				{$searchtype___dpto1}
			</div>
			<div class="col-md-4" >
				{$__dpto1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__dpto1_editcontrol1}
			</div>
		</div>
	</div>
{END __dpto1_fieldblock}
	{BEGIN __munic1_fieldblock}		
	<div class="container {$fielddispclass___munic1}" data-fieldname="__munic1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __munic1}
			</div>
			<div class="col-md-2" >
				{$searchtype___munic1}
			</div>
			<div class="col-md-4" >
				{$__munic1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__munic1_editcontrol1}
			</div>
		</div>
	</div>
{END __munic1_fieldblock}
	{BEGIN __cdpto_cmun1_fieldblock}		
	<div class="container {$fielddispclass___cdpto_cmun1}" data-fieldname="__cdpto_cmun1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cdpto_cmun1}
			</div>
			<div class="col-md-2" >
				{$searchtype___cdpto_cmun1}
			</div>
			<div class="col-md-4" >
				{$__cdpto_cmun1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cdpto_cmun1_editcontrol1}
			</div>
		</div>
	</div>
{END __cdpto_cmun1_fieldblock}
	{BEGIN __cab_dpto1_fieldblock}		
	<div class="container {$fielddispclass___cab_dpto1}" data-fieldname="__cab_dpto1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cab_dpto1}
			</div>
			<div class="col-md-2" >
				{$searchtype___cab_dpto1}
			</div>
			<div class="col-md-4" >
				{$__cab_dpto1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cab_dpto1_editcontrol1}
			</div>
		</div>
	</div>
{END __cab_dpto1_fieldblock}
	{BEGIN __cdpto1_fieldblock}		
	<div class="container {$fielddispclass___cdpto1}" data-fieldname="__cdpto1">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __cdpto1}
			</div>
			<div class="col-md-2" >
				{$searchtype___cdpto1}
			</div>
			<div class="col-md-4" >
				{$__cdpto1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__cdpto1_editcontrol1}
			</div>
		</div>
	</div>
{END __cdpto1_fieldblock}
	{BEGIN __acres_fieldblock}		
	<div class="container {$fielddispclass___acres}" data-fieldname="__acres">
		<div class="form-group">
			<div class="col-md-2">
				{$label homicidios_sv_2016_Report1 __acres}
			</div>
			<div class="col-md-2" >
				{$searchtype___acres}
			</div>
			<div class="col-md-4" >
				{$__acres_editcontrol}
			</div>
			<div class="col-md-4" >
				{$__acres_editcontrol1}
			</div>
		</div>
	</div>
{END __acres_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
