{BEGIN mainmenu_block}
{BEGIN treeLikeTypeMenu}
		<tr class="runner-b-vmenu runner-vmenu tree">
		<td class="runner-cl"></td>
		<td class="runner-cc">
			<div class="manage">
				<a href="#"><img alt="*" src="images/plus.gif">
					{mlang_message EXPAND_ALL}
				</a>
			</div>
		</td>
		<td class="runner-cr"></td>
	</tr>

	{BEGIN item1_menulink}
	<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
			{BEGIN item2_menulink}
			<tr id="item2" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Separator{BEGIN item2_current} current{END item2_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{$item2_separator}



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item2_menulink}
	{END item1_menulink}
	{BEGIN item3_menulink}
	<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
			{BEGIN item4_menulink}
			<tr id="item4" topparent="item3" parent="item3" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item4_current} current{END item4_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item4_menulink}
			{BEGIN item5_menulink}
			<tr id="item5" topparent="item3" parent="item3" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item5_current} current{END item5_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item5_menulink}
	{END item3_menulink}
	{BEGIN item6_menulink}
	<tr id="item6" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item6_current} current{END item6_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item6_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item6_groupimage}
<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
			{BEGIN item7_menulink}
			<tr id="item7" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item7_current} current{END item7_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item7_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item7_groupimage}
<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item7_menulink}
			{BEGIN item8_menulink}
			<tr id="item8" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item8_current} current{END item8_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item8_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item8_groupimage}
<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item8_menulink}
			{BEGIN item9_menulink}
			<tr id="item9" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item9_current} current{END item9_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item9_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item9_groupimage}
<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item9_menulink}
			{BEGIN item10_menulink}
			<tr id="item10" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item10_current} current{END item10_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item10_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item10_groupimage}
<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item10_menulink}
			{BEGIN item11_menulink}
			<tr id="item11" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item11_current} current{END item11_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item11_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item11_groupimage}
<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item11_menulink}
			{BEGIN item12_menulink}
			<tr id="item12" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item12_current} current{END item12_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item12_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item12_groupimage}
<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item12_menulink}
			{BEGIN item13_menulink}
			<tr id="item13" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item13_current} current{END item13_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item13_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item13_groupimage}
<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item13_menulink}
			{BEGIN item14_menulink}
			<tr id="item14" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item14_current} current{END item14_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item14_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item14_groupimage}
<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item14_menulink}
			{BEGIN item15_menulink}
			<tr id="item15" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item15_current} current{END item15_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item15_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item15_groupimage}
<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item15_menulink}
			{BEGIN item16_menulink}
			<tr id="item16" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item16_current} current{END item16_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item16_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item16_groupimage}
<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item16_menulink}
			{BEGIN item17_menulink}
			<tr id="item17" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item17_current} current{END item17_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item17_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item17_groupimage}
<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item17_menulink}
			{BEGIN item18_menulink}
			<tr id="item18" topparent="item6" parent="item6" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item18_current} current{END item18_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item18_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item18_groupimage}
<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item18_menulink}
	{END item6_menulink}
	{BEGIN item19_menulink}
	<tr id="item19" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item19_current} current{END item19_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item19_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item19_groupimage}
<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
			{BEGIN item20_menulink}
			<tr id="item20" topparent="item19" parent="item19" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item20_current} current{END item20_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item20_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item20_groupimage}
<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item20_menulink}
	{END item19_menulink}
	{BEGIN item21_menulink}
	<tr id="item21" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item21_current} current{END item21_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item21_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item21_groupimage}
<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
			{BEGIN item22_menulink}
			<tr id="item22" topparent="item21" parent="item21" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item22_current} current{END item22_current}">
				<td class="runner-cl"></td>	
				<td class="runner-cc">
					{BEGIN item22_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item22_groupimage}
<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>



				</td>
				<td class="runner-cr"></td>
			</tr>	
			{END item22_menulink}
	{END item21_menulink}

{END treeLikeTypeMenu}
	
{BEGIN simpleTypeMenu}
		{BEGIN item1_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



			<ul >
			{BEGIN item2_menulink}
			<li parent="group1" class="Separator{BEGIN item2_current} current{END item2_current}">
			{$item2_separator}



			</li>
			{END item2_menulink}
			</ul>
		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item1_menulink}
	{BEGIN item3_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



			<ul >
			{BEGIN item4_menulink}
			<li parent="group3" class="Leaf{BEGIN item4_current} current{END item4_current}">
			{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li parent="group3" class="Leaf{BEGIN item5_current} current{END item5_current}">
			{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



			</li>
			{END item5_menulink}
			</ul>
		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item3_menulink}
	{BEGIN item6_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item6_current} current{END item6_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item6_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item6_groupimage}
<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



			<ul >
			{BEGIN item7_menulink}
			<li parent="group6" class="Leaf{BEGIN item7_current} current{END item7_current}">
			{BEGIN item7_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item7_groupimage}
<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



			</li>
			{END item7_menulink}
					{BEGIN item8_menulink}
			<li parent="group6" class="Leaf{BEGIN item8_current} current{END item8_current}">
			{BEGIN item8_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item8_groupimage}
<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



			</li>
			{END item8_menulink}
					{BEGIN item9_menulink}
			<li parent="group6" class="Leaf{BEGIN item9_current} current{END item9_current}">
			{BEGIN item9_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item9_groupimage}
<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



			</li>
			{END item9_menulink}
					{BEGIN item10_menulink}
			<li parent="group6" class="Leaf{BEGIN item10_current} current{END item10_current}">
			{BEGIN item10_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item10_groupimage}
<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



			</li>
			{END item10_menulink}
					{BEGIN item11_menulink}
			<li parent="group6" class="Leaf{BEGIN item11_current} current{END item11_current}">
			{BEGIN item11_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item11_groupimage}
<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



			</li>
			{END item11_menulink}
					{BEGIN item12_menulink}
			<li parent="group6" class="Leaf{BEGIN item12_current} current{END item12_current}">
			{BEGIN item12_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item12_groupimage}
<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



			</li>
			{END item12_menulink}
					{BEGIN item13_menulink}
			<li parent="group6" class="Leaf{BEGIN item13_current} current{END item13_current}">
			{BEGIN item13_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item13_groupimage}
<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li parent="group6" class="Leaf{BEGIN item14_current} current{END item14_current}">
			{BEGIN item14_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item14_groupimage}
<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li parent="group6" class="Leaf{BEGIN item15_current} current{END item15_current}">
			{BEGIN item15_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item15_groupimage}
<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>



			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li parent="group6" class="Leaf{BEGIN item16_current} current{END item16_current}">
			{BEGIN item16_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item16_groupimage}
<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>



			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li parent="group6" class="Leaf{BEGIN item17_current} current{END item17_current}">
			{BEGIN item17_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item17_groupimage}
<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>



			</li>
			{END item17_menulink}
					{BEGIN item18_menulink}
			<li parent="group6" class="Leaf{BEGIN item18_current} current{END item18_current}">
			{BEGIN item18_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item18_groupimage}
<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>



			</li>
			{END item18_menulink}
			</ul>
		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item6_menulink}
	{BEGIN item19_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item19_current} current{END item19_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item19_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item19_groupimage}
<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>



			<ul >
			{BEGIN item20_menulink}
			<li parent="group19" class="Leaf{BEGIN item20_current} current{END item20_current}">
			{BEGIN item20_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item20_groupimage}
<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>



			</li>
			{END item20_menulink}
			</ul>
		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item19_menulink}
	{BEGIN item21_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item21_current} current{END item21_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item21_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item21_groupimage}
<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>



			<ul >
			{BEGIN item22_menulink}
			<li parent="group21" class="Leaf{BEGIN item22_current} current{END item22_current}">
			{BEGIN item22_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item22_groupimage}
<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>



			</li>
			{END item22_menulink}
			</ul>
		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item21_menulink}

{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}

{END adminAreaTypeMenu}
{END mainmenu_block}
