<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero masterrprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$sector_ppd_class}">{$label Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero sector_ppd}</th>
			<th class="{$genero_class}">{$label Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero genero}</th>
			<th class="{$COUNT_genero__class}">{$label Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero COUNT_genero_}</th>
			<th class="{$mun_resid_class}">{$label Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero mun_resid}</th>
			<th class="{$depart_resid_class}">{$label Personas_privadas_de_libertad_por_Sectores_Estandarizados_seg_n_g_nero depart_resid}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$sector_ppd_class}">{$sector_ppd_mastervalue}</td>
			<td class="{$genero_class}">{$genero_mastervalue}</td>
			<td class="{$COUNT_genero__class}">{$COUNT_genero__mastervalue}</td>
			<td class="{$mun_resid_class}">{$mun_resid_mastervalue}</td>
			<td class="{$depart_resid_class}">{$depart_resid_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>