<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="tipificacion">
	{$tipificacion_editcontrol}
	</control>
	<control 
	field="direccion_validacion">
	{$direccion_validacion_editcontrol}
	</control>
	<control 
	field="direccion_libre">
	{$direccion_libre_editcontrol}
	</control>
	<control 
	field="coordenadas_x">
	{$coordenadas_x_editcontrol}
	</control>
	<control 
	field="coordenadas_y">
	{$coordenadas_y_editcontrol}
	</control>
	<control 
	field="departamento">
	{$departamento_editcontrol}
	</control>
	<control 
	field="municipio">
	{$municipio_editcontrol}
	</control>
	<control 
	field="ppddsc">
	{$ppddsc_editcontrol}
	</control>
	<control 
	field="meses">
	{$meses_editcontrol}
	</control>
	<control 
	field="avisos911">
	{$avisos911_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
