<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel Retornados_Municipios_por_a_o rprint}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}



<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}
	.rnr-report {width: 100%;}
	td {padding: 2px; 4px;}

		td.group_1{background-color: #FFFFFF;}
		td.nbgroup_1{background-color: #FFFFFF;}
		td.header_1 {
			background-color: #D8D8D8; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}

		td.group_2{background-color: #FFFFFF;}
		td.nbgroup_2{background-color: #FFFFFF;}
		td.header_2 {
			background-color: #D8D8D8; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}
	td.blackshade {
		font-size:120%;
/*		padding: 4px 8px;*/
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}

</style>

<div id="grid_block{$id}" class="rnr-report-gridblock">
						{BEGIN grid_block}
<table {$report_print_hiddenattr} data-pageid="{$pageid}" data-brick="report_print" class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
<tbody>
			
			
			{BEGIN grid_row}

			{BEGIN departamento_newgroup}
								<tr class="group-headers">
					<td class="blackshade">{$label Retornados_Municipios_por_a_o municipio}</td>
					<td class="blackshade">{$label Retornados_Municipios_por_a_o departamento}</td>
					<td class="blackshade">{$label Retornados_Municipios_por_a_o a_o}</td>
					<td class="blackshade">{$label Retornados_Municipios_por_a_o sectorppd}</td>
					<td class="blackshade">{$label Retornados_Municipios_por_a_o COUNT_municipio_}</td>
				</tr>
				<tr class="group-spliter-1" >
													<td colspan=5 class=header_1><font >{$departamento_grval}</font></td>
										</tr>
			{END departamento_newgroup}
			{BEGIN municipio_newgroup}
								<tr class="group-spliter-2" {$rowattrs}>
													<td class=" group_1" >&nbsp;</td>
						
							<td colspan=4 class=header_2>
								<font>
									{$municipio_grval} 
																</font>
							</td>
				</tr>
			{END municipio_newgroup}
						<!-------------------------------------  data ----------------------------------------->
			{BEGIN row_data}
				<tr >
										<td class=" group_1" >&nbsp;</td>
										<td class=" group_2" >&nbsp;</td>
					<td class=data>{$a_o_value}</td>
					<td class=data>{$sectorppd_value}</td>
					<td class=data>{$COUNT_municipio__value}</td>
				</tr>
			{END row_data}
			<!-------------------------------------  group summary ----------------------------------------->
						{BEGIN municipio_endgroup}
				<tr class="summaryrow"  style="display:none; height:0px" >
					<td class=group_1 style="border-top: none;"></td>
										<td  class="group_2" colspan=4 >
				{mlang_message SUMMARY_FOR} {$label Retornados_Municipios_por_a_o municipio} {$municipio_grval}
					- <span class="summary-2" data-type="summary" data-value="{$groupmunicipio_total_cnt}">{$groupmunicipio_total_cnt}</span> {mlang_message RECORDS_TOTAL}</td>
				</tr>
						<!--  Sum -->
				<tr class="grouptotalsrow"  style="display:none; height:0px" >
										<td class=group_1 >&nbsp;</td>
										<td class=group_2 >{mlang_message SUM}</td>
										<td class=group_2>&nbsp;</td>
										<td class=group_2>&nbsp;</td>
										<td class=group_2><span class="summary-2" data-type="sum" data-value="{$groupmunicipio_totalCOUNT_municipio__sum}" data-field="COUNT(municipio)">{$groupmunicipio_totalCOUNT_municipio__sum}</span></td>
				</tr>	
												{END municipio_endgroup}
						{BEGIN departamento_endgroup}
				<tr class="summaryrow" >
										<td  class="group_1" colspan=5 >
				{mlang_message SUMMARY_FOR} {$label Retornados_Municipios_por_a_o departamento} {$departamento_grval}
					- <span class="summary-1" data-type="summary" data-value="{$groupdepartamento_total_cnt}">{$groupdepartamento_total_cnt}</span> {mlang_message RECORDS_TOTAL}</td>
				</tr>
						<!--  Sum -->
				<tr class="grouptotalsrow" >
										<td class=group_1 >{mlang_message SUM}</td>
										<td class=group_1>&nbsp;</td>
										<td class=group_1>&nbsp;</td>
										<td class=group_1>&nbsp;</td>
										<td class=group_1><span class="summary-1" data-type="sum" data-value="{$groupdepartamento_totalCOUNT_municipio__sum}" data-field="COUNT(municipio)">{$groupdepartamento_totalCOUNT_municipio__sum}</span></td>
				</tr>	
												{END departamento_endgroup}
			{END grid_row}

							<!--------------------------------------page summary-------------------------------------------->
				<tr class="summaryrow summary-page">
					
										<td class=pagesummary colspan=5>{mlang_message PAGE_SUMMARY} 
					 <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - {mlang_message RECORDS_TOTAL}</td>
				</tr>
								<!--  Sum -->
				<tr class="summary-page">
											<td class=pagesummary>{mlang_message SUM}</td>
											<td class=pagesummary>&nbsp;</td>
											<td class=pagesummary>&nbsp;</td>
											<td class=pagesummary>&nbsp;</td>
											<td class=pagesummary><span class="page-summary" data-type="sum" data-field="COUNT_municipio_">{$page_totalCOUNT_municipio__sum}</span></td>
				</tr>	
																				<!--------------------------------------global summary-------------------------------------------->
				{BEGIN global_summary}
				<tr class="summaryrow summary-global">
					
										<td class=globalsummary colspan=5>{mlang_message GLOBAL_SUMMARY} 
					 {$global_total_cnt} - {mlang_message RECORDS_TOTAL}</td>
				</tr>
								<!--  Sum -->
				<tr class="summary-global">
											<td class=globalsummary>{mlang_message SUM}</td>
											<td class=globalsummary>&nbsp;</td>
											<td class=globalsummary>&nbsp;</td>
											<td class=globalsummary>&nbsp;</td>
											<td class=globalsummary>{$global_totalCOUNT_municipio__sum}</td>
				</tr>	
																{END global_summary}
</tbody>
</table>
{END grid_block}
</div>





{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
